@page "/substory/create"
@inject NavigationManager navigation
@inject IJSRuntime js
@inject RepositoryPagina repositoryPagina
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Nome:</label>
        <InputText id="Nome" @bind-Value="exampleModel.Nome" />
    </p>
    <p>
        <label>Story:</label>
        <select @bind="exampleModel.StoryId">
            @foreach (var item in lista)
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
   
   

    <button type="submit">Adicionar</button>
</EditForm>

@code {
    private SubStory exampleModel = new();
    private List<Story> lista = new List<Story>();
    public List<SubStory> SubStory = new List<SubStory>();

    protected override async Task OnInitializedAsync()
    {
        lista = await repositoryPagina!.Context.Story!.Where(str => str.Nome != "Padrao").ToListAsync();
        exampleModel.StoryId = lista.OrderBy(l => l.Id).First().Id;
    }

    private async void HandleSubmit()
    {
        var filtro = new Filtro
            {
                SubStory = exampleModel,
                Nome = exampleModel.Nome,
                StoryId = exampleModel.StoryId,
                Rotas = exampleModel.Nome + ", "
            };

        await repositoryPagina!.Context.AddAsync(filtro);
        await repositoryPagina!.Context.SaveChangesAsync();
        filtro.SubStoryId = filtro.Id;
        repositoryPagina!.Context.Update(filtro);
        await repositoryPagina!.Context.SaveChangesAsync();
        navigation.NavigateTo("crud/substory");
    }

    private async void ExecutarChange(string e)
    {
        exampleModel.StoryId = long.Parse(e);
        SubStory = await repositoryPagina!.Context.SubStory!.Where(sub => sub.StoryId == long.Parse(e)).ToListAsync();
        await js.InvokeAsync<object>("OptionSelected", "option" + e);
    }

    
}
