@page "/substory/edit/{Id:long}"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
   
    <p>
        <label>Nome:</label>
        <InputText id="Nome" @bind-Value="exampleModel.Nome" />
    </p>
    <label>Story:</label>
    <select @bind="exampleModel.StoryId">
        @foreach (var item in lista)
        {
            <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
        }
    </select>
   

    <button type="submit">Alterar</button>
</EditForm>

@code {
    private SubStory exampleModel = new();
    private List<Story> lista = new List<Story>();

    [Parameter]public long Id{ get; set; }

    protected async override Task OnParametersSetAsync()
    {
        exampleModel = await repositoryPagina!.Context.SubStory!.Include(sub => sub.Filtro).FirstAsync(l => l.Id == Id);
        lista = await repositoryPagina!.Context.Story!
        .Where(str => str.Nome != "Padrao").ToListAsync();
        
    }

    private async void HandleSubmit()
    {
        exampleModel.Filtro!.Nome = exampleModel.Nome;
        repositoryPagina!.Context.Update(exampleModel);
        repositoryPagina!.Context.Update(exampleModel.Filtro);
        await repositoryPagina!.Context.SaveChangesAsync();
        navigation.NavigateTo("substory");
        // Process the form
    }
}

