# Ignorar diretórios de build
**/BlazorServerCms/bin/
**/BlazorServerCms/obj/
**/BlazorServerCms/Migrations/
**/business/bin/
**/business/obj/
obj/
Tests/
**/.vs/

# Ignorar arquivos de configuração do usuário
*.user
*.suo

# Ignorar logs
*.log

# Ignorar pastas de publicação
**/BlazorServerCms/wwwroot/

# Ignorar dependências de pacotes
BlazorServerCms/node_modules/
BlazorServerCms/packages/

# Ignorar arquivos temporários
*.tmp
*.temp
