# Ignorar diretórios de build
**/BlazorServerCms/bin/
**/BlazorServerCms/obj/
**/BlazorServerCms/Migrations/
**/business/bin/
**/business/obj/
obj/
Tests/
**/.vs/

# Ignorar arquivos de configuração do usuário
*.user
*.suo

# Ignorar logs
*.log

# Ignorar json
*.json

# Ignorar arquivos bin
*.bin

# Ignorar arquivos dll
*.dll

# Ignorar arquivos exe
*.exe

# Ignorar arquivos pdb
*.pdb

# Ignorar arquivos cache
*.cache


# Ignorar pastas de publicação
**/BlazorServerCms/wwwroot/

# Ignorar dependências de pacotes
BlazorServerCms/node_modules/
BlazorServerCms/packages/
ApplicationDbContext.cs
appsettings.json


# Ignorar arquivos temporários
*.tmp
*.temp
