@using Microsoft.AspNetCore.Components.Web
@namespace BlazorServerCms.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Conecte-se com inteligência usando o Instagleo." />

    <meta property="og:type" content="website" />
<meta property="og:url" content="https://www.instagleo.net.br" />
<meta property="og:title" content="instagleo - Compartilhamento web simplificado e universal" />
<meta property="og:description" content="Transforme a maneira como você compartilha links. Otimize URLs e envie conteúdo instantaneamente entre navegadores, redes sociais e aplicativos de mensagem." />
<meta property="og:image" content="https://www.instagleo.net.br/preview.jpg" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="315" />
<meta property="og:site_name" content="Instagleo" />
<meta property="og:locale" content="pt_BR" />


    <base href="~/" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <link href="BlazorServerCms.styles.css" rel="stylesheet" />
   

     
    <link rel="stylesheet" href="/_content/PSC.Blazor.Components.Tours/css/styles.css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id="></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', '');</script>
   

    @* <script type="importmap">
        {
          "imports": {
            "@@google/generative-ai": "https://esm.run/@@google/generative-ai"
          }
        }
    </script> *@
    @* <script type="module">
        import { GoogleGenerativeAI } from "@@google/generative-ai";

        // Fetch your API_KEY
        const API_KEY = "...";
        // Reminder: This should only be for local testing

        // Access your API key (see "Set up your API key" above)
        const genAI = new GoogleGenerativeAI(API_KEY);

        // ...

        // The Gemini 1.5 models are versatile and work with most use cases
        const model = genAI.getGenerativeModel({ model: "gemini-1.5-flash" });

        // ...
    </script> *@

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body id="corpoPagina">

    <input type="hidden" class="url" />

    @RenderBody()

    @RenderSection("scripts", required:false)

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>



    <script>
        window.sample = {
            height: 300,
            plugins: ['advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'table emoticons template paste help'],
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | '
                + 'bullist numlist outdent indent | link image | print preview media fullpage | '
                + 'forecolor backcolor emoticons | help',
            menu: { favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | spellchecker | emoticons' } },
            menubar: 'favs file edit view insert format tools table help', content_css: '/css/site.css',
            setup: function (editor) { editor.on('change', function () { editor.save(); }); }
        }
    </script>
 
<script>
  // 1. Carrega a API do YouTube de forma assíncrona
  var tag = document.createElement('script'); 
  
  tag.src = "https://www.youtube.com/iframe_api"; 
  let firstScript = document.getElementsByTagName('script')[0];
  firstScript.parentNode.insertBefore(tag, firstScript);  

</script>
   
   <!-- TikTok Pixel Code Start -->
<script>
!function (w, d, t) {
  w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie","holdConsent","revokeConsent","grantConsent"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(
var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var r="https://analytics.tiktok.com/i18n/pixel/events.js",o=n&&n.partner;ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=r,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script")
;n.type="text/javascript",n.async=!0,n.src=r+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};


  ttq.load('D58KJ1JC77U5DJL553H0');
  ttq.page();
}(window, document, 'ttq');
</script>
<!-- TikTok Pixel Code End -->

    <script src="_content/TinyMCE.Blazor/tinymce-blazor.js"></script>
    <script src="~/JSFunctions.js"></script>
    <script src="_framework/blazor.server.js"></script>
    
</body>
</html>
