@using Microsoft.AspNetCore.Components.Web
@namespace BlazorServerCms.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <link href="BlazorServerCms.styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="/_content/PSC.Blazor.Components.Tours/css/styles.css" />


    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body id="corpoPagina">
    @RenderBody()

    @RenderSection("scripts", required:false)

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>


    <script>
        window.sample = {
            height: 300,
            plugins: ['advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'table emoticons template paste help'],
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | '
                + 'bullist numlist outdent indent | link image | print preview media fullpage | '
                + 'forecolor backcolor emoticons | help',
            menu: { favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | spellchecker | emoticons' } },
            menubar: 'favs file edit view insert format tools table help', content_css: '/css/site.css',
            setup: function (editor) { editor.on('change', function () { editor.save(); }); }
        }
    </script>

    <script src="_content/TinyMCE.Blazor/tinymce-blazor.js"></script>
    <script src="~/JSFunctions.js"></script>
    <script src="_framework/blazor.server.js"></script>


</body>
</html>
