@page "/acessoinstante"
@page "/acessoinstante/{insta:int}"
@inject RepositoryPagina repositoryPagina
@inject IJSRuntime js
@inject NavigationManager navigation
<h3>Instante</h3>

@if (insta != null && objInstante != null)
{
    <PageTitle>Instante @insta </PageTitle>
    <p>Você esta acessando a instante nº @i </p>
    <p>Descrição da instante: @objInstante.Descricao </p>
}
else
{
    <PageTitle>Acessando instantes </PageTitle>
    
}

<center>
    <a href="/crud/instante/1" class="btn btn-dark">
        Instantes
    </a>
</center>

<hr />

<p>
    <label>Informe o nº da instante</label>
    <input type="number" min="1" @bind="@insta" />

</p>
<p>
    <a  onclick="@buscarInstante" class="btn btn-dark" >Acessar instante</a>

</p>

@code {
    [Parameter] public int? insta { get; set; }
    public int? i { get; set; }
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;
    private Instante objInstante;

    protected override void OnInitialized()
    {
        Context = db.CreateDbContext(null);
    }


    private async void buscarInstante()
    {
        List<Instante>? instantes = await Context.Instante.Include(i => i.livros).OrderBy(l => l.Id).ToListAsync();

        objInstante = instantes.Skip((int)insta - 1).FirstOrDefault();
        i = insta;


        if (objInstante != null)
        {
            navigation.NavigateTo($"/acessoinstante/{insta}");
            List<Livro> livros = objInstante.livros.OrderBy(l => l.Id).ToList();
            string url = "";
            for (var i = 0; i < livros.Count; i++)
            {
                if (livros[i].IsBook)
                url = $"{livros[i]!.url}/filtro/{livros[i].capitulo}/pasta-{livros[i].pasta}/0/{i + 1}/0/{repositoryPagina!.buscarDominio()}/comp/0/0/0/0/0/0/0/0/0/0";
                
                else
                    url = $"{livros[i]!.UrlNoBook}";
                await js!.InvokeAsync<object>("AcessarSites", url);
            }
        }
    }

}
