@page "/admin"
@inject UserManager<UserModel> userManager

<h3>Admin</h3>
<PageTitle>Admin</PageTitle>

@{
    if(users == null)
    {
        <p>Aguarde um momento</p>
    }
    else
    {
        foreach (var user in users)
        {
            <p>@user.UserName</p>
        }

    }
}

@code {
    IList<UserModel> users;
    protected override async Task OnInitializedAsync()
    {
         users = await userManager.GetUsersInRoleAsync("Admin");     
    }
}
