@page "/comentario/{capitulo:int}/{verso:int}"
@inject RepositoryPagina? repositoryPagina
@layout MeuLayout


<h3>Comentar</h3>

@{
    if (MensagemComentario != null)
    {
        @MensagemComentario
    }
    foreach (var codHtml in comentarios)
    {
        @codHtml
    }

}

@if(capitulo == 0)
{
    <a href="/renderizar/@capitulo/@verso/1/11/1">Voltar</a>
}
else
{
    <a href="/">Voltar</a>
}



<Editor Id="contentextarea"
            Inline=false
            CloudChannel="5"
            Disable=false
        JsConfSrc="sample"
        ApiKey="m8nq39l31dv5y829ehcjsd0rciwei8crem0yubndhdgs72fd"
        ClassName="tinymce-wrapper" @bind-Value="exampleModel.ContentUser" />
    <a href="#" onclick="@FazerComentario" class="btn btn-dark" >Adicionar comentário</a>



@code {
    [Parameter] public int capitulo { get; set; }
    [Parameter] public int verso { get; set; }
    protected List<MarkupString> comentarios = new List<MarkupString>();
    protected string? MensagemComentario = null;
    Pagina exampleModel = new Pagina();
    Pagina Model = new Pagina();


    protected override async Task OnInitializedAsync()
    {
        if(capitulo != 0)
        {
            var lst = repositoryPagina!.paginas!.Where(p => p.Story!.PaginaPadraoLink == capitulo).ToList();
            Model = lst.Skip((int)verso - 1).FirstOrDefault()!;
            List<business.Comentario> listaComentarios =
            await repositoryPagina!.Context.Comentario!.Where(c => c.IdPagina == Model!.Id)
                           .OrderBy(c => c.Id)
                           .ToListAsync();
            comentarios = new List<MarkupString>();

            foreach (var item in listaComentarios)
            {
                var p = repositoryPagina.paginas!.Where(pa => pa.Story!.PaginaPadraoLink == item.Capitulo)
                .OrderBy(pa => pa.Id)
                .Skip(item.Verso - 1).First();
                var html = await repositoryPagina
                .renderizarPagina(p);
                var comentario = new MarkupString(html + $" <hr /> <p> Capitulo {item.Capitulo} Verso {item.Verso} </p>");
                comentarios.Add(comentario);
            }
        }
    }

    protected async void FazerComentario()
    {
        var Quant = await repositoryPagina.Context.Story!.Where(st => st.Nome != "Padrao").ToListAsync();
        var comenta = await repositoryPagina.Context.Story!.Include(st => st.Pagina)
        .Where(st => st.Comentario)
        .OrderBy(st => st.Id)
        .ToListAsync();
        var Story = comenta.LastOrDefault();

        if (Story == null || Story.Pagina!.ToList().Count > 499)
        {
            Story = new Story
                {
                    Nome = "Comentario " + (comenta.Count + 1),
                    Comentario = true,
                    PaginaPadraoLink = Quant.Count + 1

                };
            repositoryPagina.Context.Add(Story);
            repositoryPagina.Context.SaveChanges();

            var str = await repositoryPagina.Context.Story!.FirstAsync(st => st.Nome == "Padrao");

            Pagina.entity = true;
            var p = new Pagina()
                {
                    Titulo = "Story - " + str.Nome,
                    StoryId = str.Id,
                    ContentUser = "<h1> Story " + Story.Nome + "</h1>"
                };
            Pagina.entity = false;

            repositoryPagina.Context.Add(p);
            repositoryPagina.Context.SaveChanges();
            p.Story!.Quantidade++;
        }

        Pagina.entity = true;
        var pagina = new Pagina()
            {
                Titulo = "Story - " + Story.Nome,
                StoryId = Story.Id,
                Comentario = Model.Id,
                ContentUser = $"<div> {exampleModel.ContentUser} </div>"
            };
        Pagina.entity = false;

        repositoryPagina.Context.Add(pagina);
        repositoryPagina.Context.SaveChanges();
        pagina.Story.QuantComentario++;

        if(repositoryPagina.paginas != null)
            repositoryPagina.paginas!.Add(pagina);

        if (capitulo != 0)
        {
            var comentar = new business.Comentario
                {
                    IdPagina = Model.Id,
                    Capitulo = Story.PaginaPadraoLink,
                    Verso = Story.Pagina!.ToList().Count
                };
            repositoryPagina.Context.Add(comentar);
            repositoryPagina.Context.SaveChanges();
        }
        MensagemComentario = $"Comentário feito com sucesso!!! Compartilhe!!! \n capitulo {Story.PaginaPadraoLink} \n verso {Story.Pagina!.ToList().Count}";
    }
}
