@page "/criterios"

<h1>Critérios para compartilhantes</h1>

<h3>Canal no youtube</h3>

<p>    500.000 inscritos --->>> 10% de comissão </p>

<p>    1.000.000 inscritos --->>> 15% de comissão </p>

<p>    5.000.000 inscritos --->>> 20% de comissão </p>

<p>    10.000.000 inscritos --->>> 25% de comissão </p>

<h3>Live no facebook </h3>

<h5>  
  <p>  mais de 500 pessoas na live >>>>  mais 1% de comissão  </p>
  <p>  mais de 1000 pessoas na live >>>>  mais 2% de comissão </p>
  <p>  mais de 2000 pessoas na live >>>>  mais 3% de comissão </p>
  <p>  mais de 3000 pessoas na live >>>>  mais 4% de comissão </p>
  <p> mais de 4000 pessoas na live >>>>  mais 5% de comissão  </p>
</h5>

<h3>Live no Instagram </h3>

<h5>
 <p>   mais de 500 pessoas na live >>>>  mais 1% de comissão   </p>
 <p>   mais de 1000 pessoas na live >>>>  mais 2% de comissão  </p>
 <p>   mais de 2000 pessoas na live >>>>  mais 3% de comissão  </p>
 <p>   mais de 3000 pessoas na live >>>>  mais 4% de comissão  </p>
 <p>   mais de 4000 pessoas na live >>>>  mais 5% de comissão  </p>
</h5>

<h3>Live no youtube </h3>

<h5>
  <p>  mais de 500 pessoas na live >>>>  mais 1% de comissão   </p>
  <p>  mais de 1000 pessoas na live >>>>  mais 2% de comissão  </p>
  <p>  mais de 2000 pessoas na live >>>>  mais 3% de comissão  </p>
  <p>  mais de 3000 pessoas na live >>>>  mais 4% de comissão  </p>
  <p>  mais de 4000 pessoas na live >>>>  mais 5% de comissão  </p>
</h5>


