@page "/criterios"

<h1>Critérios para compartilhantes</h1>

<h3>Canal no youtube</h3>

<p>    500.000 inscritos --->>> mais 3% de comissão </p>

<p>    1.000.000 inscritos --->>> mais 6% de comissão </p>

<p>    5.000.000 inscritos --->>> mais 9% de comissão </p>

<p>    10.000.000 inscritos --->>> mais 12% de comissão </p>

<h3>Lives nas plataformas </h3>

<h5>  
    <p>   mais de 1000 pessoas na live >>>>  mais 1% de comissão </p>
    <p>   mais de 4000 pessoas na live >>>>  mais 2% de comissão </p>
    <p>   mais de 7000 pessoas na live >>>>  mais 3% de comissão </p>
    <p>  mais de 10000 pessoas na live >>>>  mais 4% de comissão  </p>
    <p>  mais de 13000 pessoas na live >>>>  mais 5% de comissão  </p>
    <p>  mais de 16000 pessoas na live >>>>  mais 6% de comissão </p>
    <p>  mais de 19000 pessoas na live >>>>  mais 7% de comissão </p>
    <p>  mais de 22000 pessoas na live >>>>  mais 8% de comissão </p>
    <p>  mais de 25000 pessoas na live >>>>  mais 9% de comissão  </p>
    <p>  mais de 28000 pessoas na live >>>>  mais 10% de comissão  </p>
</h5>

<h3>Usuarios </h3>

<h5>
    <p>  500.000  usuarios --->>> 3% de comissão </p>
                 
    <p> 1.000.000 usuarios  --->>> 6% de comissão </p>
                
    <p> 5.000.000 usuarios  --->>> 9% de comissão </p>
                
    <p> 10.000.000 usuarios  --->>> 12% de comissão </p>
</h5>



