* {
    padding: 0;
    margin: 0;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
}



.usuarios
{
    width: 240px;
}

.user
{
    margin-bottom: 10px;
    height: 50px;
}


.circuloNewStory {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: #dc12e3;
    background: linear-gradient(225deg, rgba(220, 18, 227, 1) 50%, rgba(240, 130, 12, 1) 70%, rgba(240, 217, 10, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo4 {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.circulo5 {
    width: 69.8px;
    height: 69.8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.circulo3 {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}

.circulo2 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.stories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     width: 600px;
   /* padding-left: 150px;
    padding-right: 150px; */
}

#carouselIndicators {
    width: 100%;
    height: 60px;
}

.carousel-item {
    display: none;
}

.ativo {
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center; /* Alinha verticalmente */
    gap: 1px; /* Espaçamento entre os itens */
}

.story {
    width: 20%;
}

.desc {
    height: 40px;
    font-size: 11px;
}

.aovivo{
    background-color: rgb(243, 1, 104);
    width: 45%;
    color: white;
    border-radius: 20%;
    text-align: center;
}

.prev {
    
    height: 50px;
    width: 30px;
    margin-bottom: 200px;
    background-color: rgba(0, 0, 0, 0.144);
}

.prox {
    
    height: 50px;
    width: 30px;
    
    background-color: rgba(0, 0, 0, 0.144);
}

.botoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    z-index: 100;
}

.listas {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ImgUser {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}




.filtros {
    font-size: 15px;
    position: absolute;
    background-color: black;
    margin-left: 10%; 
    margin-top: 5%;
    padding: 2%;
    height: 300px;
    overflow: auto;
    border-radius: 10%;
    background-color: rgb(208, 146, 61);
    color: rgb(95, 56, 23);
    
}

    .filtros p a:hover 
    {
        cursor: pointer;
        text-decoration: underline;
    }

#messagesList {
    font-size: 18px;
    padding: 2%;
    height: 300px;
    overflow: auto;
    border-radius: 10%;
    background-color: rgb(208, 146, 61);
}

.circulo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF1493;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.circulo2 {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.circuloCompartilhando {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(95, 56, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1.0rem;
}


.circulo2Compartilhando {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 146, 61);
}

.apresentacao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.Criterios
{
    width: 100%;
}

/* .ImgUser {
    width: 45px;
    height: 45px;
    border-radius: 50%;
} */

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;

}



@media (max-width: 550px) and (min-width: 50px) {

    .circulo {
        padding: 1% !important;
    }
}
