* {
    padding: 0;
    margin: 0;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info1{
    font-size: 1.2rem;
}

.item2 {
    color: black;
    border: solid 9px;
    margin: 10px;
}

.item1 {
    color: red;
    border: solid 9px;
    margin: 10px;
}

.itemLegenda2 {
    color: black;
}

.itemLegenda1 {
    color: red;
}

.itemLegenda3 {
    color: blue;
}

.legenda {
    border: solid 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.circulo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
}