@page "/user-book/livros-compartilhados/{user}"

<h3>Livros</h3>

@if (livros != null)
{
    for(var i = 1; i <= livros.Count; i++)
    {
        <p>Livro @(i): @livros[i].url capitulo: @livros[i].Capitulo </p>
    }
}

    


@code {
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    private List<LivroUser> livros = null;


    [Parameter] public string user { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);

        livros = await Context.LivroUser.Where(u => u.user ==  user).ToListAsync();
    }

}
