

* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
}

.filtragem1
{
    margin: 10px;
    background-color: aliceblue;
}

.filtragem2 {
    margin: 10px;
    background-color: #808080;
}

.filtragem3 {
    margin: 10px;
    background-color: #222423;
}

.filtragem4 {
    margin: 10px;
    background-color: #ff0000;
}

.filtragem5 {
    margin: 10px;
    background-color: #0094ff;
}


.filtragem6 {
    margin: 10px;
    background-color: #0026ff;
}