@page "/plataformas"

<PageTitle> Canais de Transmissão </PageTitle>
<h3>Canal de youtube</h3>

<div id="youtube" class="col-md-12">  

    <p>Meu canal do youtube</p>
    
</div>

<h3>Redes sociais</h3>

<div id="redes" class="col-md-12">

    <p>Facebook</p>
    <p>Twitter</p>
    <p>Instagram</p>

</div>
