 @inject RepositoryPagina repositoryPagina

         <div class="container">

             @if(conteudos == null)
            {
                <img src="/Loading.gif" width="50" />
            }
             else if (conteudos != null && conteudos.Count > 0)
        @foreach (var item in conteudos)
        {
            var markup = new MarkupString(item.Html);
            
           
                <div class="content">
                    @markup
                </div>
            
        }
       else if (conteudos != null && conteudos.Count == 0)
        {
            <p>Aui ficam os posts do usuario</p>
        }

        </div>


@code
{

    [Parameter] public string user { get; set; }
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;
    private UserModel usermodel;  
    private List<Content> conteudos = null; 

    protected override async Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);
        usermodel = await Context.Users
        .Include(u => u.conteudos)
        .FirstOrDefaultAsync(u => u.UserName == user);  

        conteudos = await RetornarLista();  

    }

     private async Task<List<Content>> RetornarLista()
    {
        List<Content> lista = new List<Content>();
        foreach (var item in usermodel.conteudos)
        {
            if (item.Html != null && !item.Html.Contains("iframe"))
            {
                lista.Add(item);
            }           
        }
        return lista;
    }


}
