       @inject RepositoryPagina repositoryPagina
       
        <div class="container">
            @if(conteudos == null)
            {
                <img src="/Loading.gif" width="50" />
            }
             else if (conteudos != null && conteudos.Count > 0)
        @foreach (var item in conteudos)
        {
            var markup = new MarkupString(item.Html);
            
           
                <div class="content">
                    @markup
                </div>
            
        }
        else if (conteudos != null && conteudos.Count == 0)
        {
            <p>Aui ficam os conteudos de videos</p>
        }

        </div>

@code
{

    [Parameter] public string user { get; set; }
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;
    private UserModel usermodel;

    private List<Content> conteudos = null;

    protected override async Task OnInitializedAsync()
    {   
        Context = db.CreateDbContext(null);

        usermodel = await Context.Users!
        .Include(u => u.conteudos)!
        .FirstOrDefaultAsync(u => u.UserName == user);

        conteudos = await RetornarLista();

    }

     private async Task<string[]> GetYouTubeVideo(string id_video)
    {
        int calculo = 0;
        var youtubeService = new YouTubeService(new BaseClientService.Initializer()
            {
                ApiKey = repositoryPagina.buscarApiYoutube(),
                ApplicationName = this.GetType().ToString()
            });
        var searchListRequest = youtubeService.Videos.List("snippet,contentDetails,statistics,status");
        searchListRequest.Id = id_video;
        var search = await searchListRequest.ExecuteAsync();
        var p = search.Items[0].Snippet.Thumbnails.Medium;
        var p2 = search.Items[0].Snippet.Title;
        string[] pesquisa = new string[2];
        pesquisa[0] = p.Url;
        pesquisa[1] = p2;


        return pesquisa;
    }


     private string buscarId(Content p)
    {
        var id_video = "";
        if (p != null && p.Html != null && p.Html.Contains("iframe"))
        {
            var conteudoHtml = "";
            if (p.Html != null) conteudoHtml = p.Html;
            else conteudoHtml = p.Html;
            var arr = conteudoHtml!.Split("/");
            for (var index = 0; index < arr.Length; index++)
            {
                if (arr[index] == "embed" && conteudoHtml.Contains("?autoplay="))
                {
                    var text = arr[index + 1];
                    var arr2 = text.Split("?");
                    id_video = arr2[0];
                    break;
                }
                else if (arr[index] == "embed")
                {
                    var text = arr[index + 1];
                    var arr2 = text.Split('"');
                    id_video = arr2[0];
                    break;
                }
            }

        }
        return id_video;
    }



      private async Task<List<Content>> RetornarLista()
    {
        List<Content> lista = new List<Content>();

        foreach (var item in usermodel.conteudos)
        {
            if (item.Html != null && item.Html.Contains("iframe"))
            {
                var id = buscarId(item);
                if(!string.IsNullOrEmpty(id))
                {
                    try
                    {
                        var url = await GetYouTubeVideo(id);
                        item.Html = $"<center><img src='{url[0]}' class='ContentIframe' /><p>{url[1]}</p></center>";
                        lista.Add(item);
                    }
                    catch(Exception ex)
                    {
                        Console.WriteLine($"Errro no conteudo {item.Id} - " + ex.Message);
                    }
                }
            }           
        }

        return lista;
    }

    


    
}
