* {
    padding: 0;
    margin: 0;
}

.Camadas {
    font-size: 8px;
}

.centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 1px;
}

.marker {
    position: absolute;
    width: 1px;
    height: 1px;
}

.tellStory {
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    color: darkblue;
    text-decoration: blink;
    font-size: larger;
}




.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    z-index: 0;

    /* --- OS TRÊS PASSOS PARA CENTRALIZAR O CONTAINER AZUL --- */
    width: 100%;             /* 1°: Ocupa a largura total no mobile */
            /* 2°: Define o limite máximo para telas grandes */
    
    margin-left: auto !important;  /* 3°: Empurra de forma idêntica na esquerda */
    margin-right: auto !important; /* 3°: Empurra de forma idêntica na direita */
    
   
    box-sizing: border-box;  /* Evita que o padding crie barra de rolagem */
    /* --- A CORREÇÃO AQUI --- */
    min-height: 100vh; /* vh = Viewport Height. Garante que o container meça SEMPRE 100% da altura da tela do celular */
}

.tag-pai-do-container {
    display: flex;
    justify-content: center; /* Alinha o filho horizontalmente no centro da tela */
    align-items: center;     /* Opcional: Alinha o filho verticalmente se o pai tiver altura fixa */
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
    width: 100%;
    height: auto;
    background-color: transparent;
}

.pesquisas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
}

.actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;

}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

span {
    background-color: white;
}

h3 {
    background-color: darkgray;
    opacity: 0.80;
}

p {
    background-color: rgb(255, 255, 255);
}

.paragrafo2 {
    background-color: transparent;
}

.paragrafo3 {
    background-color: red;
}


#ultimapasta {
    margin-left: 15px;
}


#comentario {
    display: none;
}

.dropdown {
    margin-left: 10px;
}

#NumeroPaginaAcesso2 {
    width: 130px;
    font-size: large;
}

#NumeroPaginaAcesso3 {
    width: 65px;
    font-size: large;
}

#inputime {
    width: 60px;
    font-size: large;
}

#inputenter {
    width: 10px;
}

.ImagemProduto {
    width: 100%;
}

.linksPagina {
    display: none;
}

.blocoLoader {
    width: 100%;
}





.versos {
    width: auto;
    padding: 0;
}

.users {
    font-size: 12px;
    position: absolute;
    background-color: black;
    margin-left: 10%;
    margin-top: 5%;
    padding: 2%;
    height: 300px;
    overflow: auto;
    border-radius: 10%;
    background-color: rgb(208, 146, 61);
}

.ImagemContent {
    height: 600px;
}



.indices {
    font-size: 0.6rem !important;
    color: black;
}

.indice {
    font-size: 0.6rem !important;
    color: red;
}

.divisao {
    font-size: 0.6rem !important;
    color: darkblue;
}

.barra {
    height: 5px;
    background-color: black;
}

.render 
{
    display: flex;
    height: 413px;
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    overflow: hidden;
    width: 100%;
    
    margin-left: auto !important;  
    margin-right: auto !important; 
    
   
    box-sizing: border-box;  
}

.ConteudoPrincipal
{
    display: flex;
    z-index: 0;
    flex-direction: column;
    flex: 1;  
    justify-content: flex-start; 
    
    align-items: flex-start;     
    width: 100%;            
    margin-left: auto !important;  
    margin-right: auto !important;
    
   
    box-sizing: border-box;  
}



.Paginacao {
    display: flex;
    flex-direction: column;
    width: 100%;
    
        /* A MÁGICA: Empurra o rodapé para a última linha do container pai
        margin-bottom: 5px;
        
        */
        margin-top: auto !important; 
        
        padding-bottom: 3px; /* Pequeno respiro para não colar totalmente no vidro */
}

Informativo {
    align-self: center;
    display: flex;
}

.marc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.DivPagina {
    height: 40px;
    opacity: 0.90;
    width: 100%;
    margin: 6px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

.DivPagina2 {
    height: 50px;
    opacity: 0.90;
    width: 100%;
    margin: 6px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.DivPag {
    width: 35px;
    height: 100%;
    opacity: 0.90;
    margin: 6px;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    background-color: white;
}

.DivPag2 {
    width: 35px;
    height: 100%;
    opacity: 0.90;
    margin: 6px;
    margin-bottom: 15px;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    background-color: white;
}



.navbar {
    width: 100%;
    background-color: transparent;
}

.navegacao {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#pesquisas {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.progressbar {
    
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 2px rgb(130, 130, 130);
}

.progressbar2 {

    position: relative;
    width: 100%;
    height: 10px;
    background-color: transparent;
}

.progressbar div {
    height: 100%;
    border-radius: 5px;
    background-color: red;
    width: 1%;
    align-content: flex-start;
}

.progressbar2 div {
    height: 100%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 1%;
    align-content: flex-start;
}

#carouselIndicators {
    display: flex;
    width: 100%;
    align-items: space-around;
    height: 100%;
}

.carousel-inner {
    display: flex;
    width: 100%;
    align-items: space-around;
}

.carouselIndicators {
    display: flex;
    width: 100%;
    align-items: space-around;
}

.carousel-item {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-around;
}



.botoes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.comentar {
    z-index: 2;
    position: absolute;
    left: 0.1%;
    top: 50%;
    height: 60px;
    background-color: darkgray;
    border-radius: 20%;
}

.prev {
    z-index: 2;
    position: absolute;
    left: 0.1%;
    top: 50%;
    height: 60px;
    background-color: darkgray;
    border-radius: 20%;
}

.prox {
    z-index: 2;
    position: absolute;
    right: 0.1%;
    top: 50%;
    height: 60px;
    background-color: darkgray;
    border-radius: 20%;
}

.capSubstory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.heade {
    background-color: white;
    height: 40px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}




.circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #FF1493;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circulo2 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.circulop2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF1493;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circulo2p2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.ImgStory {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.ImgUser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

 .cabecalho {
    
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start; 

} 

#horizontes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.item-horizonte {
    margin-left: 20px;
}

.share {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80px;
    height: 40px;
}

.barra.vermelho {
    background-color: red;
}

svg {
    margin-top: 5px;

}

.prev svg {
    margin-top: 12px;
}

.prox svg {
    margin-top: 12px;
}

.inputs {
    display: block;
    width: 130px;
}

.inputs2 {
    display: block;
    width: 75px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e2f605;
}

.criterio 
{
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-size: 10px;
    margin-top: 20px;
}

.DivCriterio
 {
    background-color: rgb(106, 106, 106, 0.3);    
    height: 4px; 
    margin-left: 20px;
    flex: 1; 
    width: 50px;
    text-align: center;
    justify-content: center;
}

@media (max-width: 680px) and (min-width: 50px) {

    

   .DivCriterio
   {
        margin-left: 8px;
        flex: 1; 
    
   }

    .Camadas
    {
        display: none;
    }

    .menu
    {
        font-size: 0.8rem;
    }

    header {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        
    }

    

    

    iframe {
        pointer-events: none;
    }



    .prev 
    {
        display: none;   
        position: fixed;
        height: 52%;
        width: 20%;
        background-color: rgba(0, 0, 0, 0.01);
        z-index: 800;
        top: 25%;
        border: 2px solid;
    }

    .prev svg
    {
        display: none;
    }

    .prox
     {
        display: none;
        position: fixed;
        height: 52%;
        width: 20%;
        background-color: rgba(0, 0, 0, 0.01);
        z-index: 800;
        top: 25%;
        border: 2px solid;
    }

    .prox svg
    {
        display: none;
    }

    .render
    {        
        height: 377px;
        width: 100%;
        z-index: 0;
        justify-content: flex-start;
        overflow: auto;
    }

    
    /* .render iframe 
    {
        position: absolute;
        top: -60px;
        left: 0;
        width: 100%;
        height: calc(100% + 120px); 
        pointer-events: none;
    } 
    */


    .carousel-control-next {
        width: 10%;
    }

    .carousel-control-prev {
        width: 10%;
    }

    #Livro {
        font-size: 1.5rem !important;
    }

    #record {
        font-size: 1rem !important;
    }





    .indices {
        font-size: 0.9rem !important;
        color: black;
    }

    .indice {
        font-size: 0.9rem !important;
        color: red;
    }


    .DivPag {
        width: 16px !important;
        margin: 4px !important;
        padding: 0;
    }

    /* tres algarismos */
    .DivPagTam2 {
        width: 21px !important;
        margin: 4px !important;
        padding: 0;
    }

    /* quatro algarismos */
    .DivPagTam3 {
        width: 30px !important;
        margin: 4px !important;
        padding: 0;
    }

    /* cinco algarismos */
    .DivPagTam4 {
        width: 43px !important;
        margin: 4px !important;
        padding: 0;
    }


    .content {
        width: 100% !important;
    }

    img {
        width: 100% !important;
    }



    #message {
        width: 20%;
    }

    #user img {
        display: none;
    }
}