* {
    padding: 0;
    margin: 0;
}

.content {
    height: 700px;
    display : flex;
}

span {
    background-color: white;
}

h3 {
    background-color: darkgray;
    opacity: 0.80;
}

p {
    background-color: rgb(227, 196, 101);
}

.paragrafo2{
    background-color:transparent;
}

.paragrafo3{
    background-color:red;
}


#ultimapasta{
    margin-left: 15px;
}


#comentario {
    display: none;
}

#NumeroPaginaAcesso2 {
    width: 60px;
    font-size: large;
}

#NumeroPaginaAcesso3 {
    width: 120px;
    font-size: large;
}

#inputime {
    width: 60px;
    font-size: large;
}

#inputenter {
    width: 10px;
}

.ImagemProduto {
    width: 100%;
}

.linksPagina {
    display: none;
}

.blocoLoader {
    width: 100%;
}

.capitulos {
    font-size: 17px;
    background-color: transparent;
}

.users {
    font-size: 12px;
    position: absolute;
    background-color: black;
    margin-left: 10%;
    margin-top: 5%;
    padding: 2%;
    height: 300px;
    overflow: auto;
    border-radius: 10%;
    background-color: rgb(208, 146, 61);
}

.ImagemContent {
    height: 600px;
}



.indices {
    font-size: 0.8rem;
}

.barra {
    height: 5px;
    background-color: black;
}




.Paginacao {
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0.90;
    justify-content: center;
}

Informativo {
    align-self: center;
    display: flex;
}

.marc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.DivPagina {
    height: 40px;
    opacity: 0.90;
    margin: 6px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
}

.DivPag {
    width: 35px;
    height: 20px;
    opacity: 0.90;
    margin: 6px;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    background-color:white;
}



.navbar {
    width: 100%;
    background-color: transparent;
}

.navegacao {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#pesquisas {
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin-bottom: 20px;
}

.progressbar {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 2px rgb(130, 130, 130);
}

    .progressbar div {
        height: 100%;
        border-radius: 5px;
        background-color: red;
        width: 1%;
    }

.carousel-control-prev{
    height: 50%;
    top: 30%;
    background-color: black;
    position:fixed;
    
}

.carousel-control-next {
    height: 50%;
    top: 30%;
    background-color: black;
    position: fixed;
}

.capSubstory{
    width: 90px;
}

.capHeader {
    flex-grow: 3;
}

.circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #FF1493;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circulo2 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.circulop2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF1493;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circulo2p2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.ImgStory {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.ImgUser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#horizontes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.item-horizonte{
    margin-left: 20px;
}

.share {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


@media (max-width: 550px) and (min-width: 50px) {

    .capitulos {
        font-size: 12px;
        background-color: transparent;
    }
    
    .carousel-control-next{
        width: 10%;
    }

    .carousel-control-prev {
        width: 10%;    
    }

    #Livro {
        font-size: 1.5rem !important;
    }

    #record {
        font-size: 1rem !important;
    }

   

   

    .indices {
        font-size: 0.8rem !important;
    }


    .DivPag {
        width: 16px !important;
        margin: 4px !important;
        padding: 0;
    }


    .content {
        width: 100% !important;
    }

    img {
        width: 100% !important;
    }

    

    #message {
        width: 20%;
    }

    #user img {
        display: none;
    }
}