@page "/responsechatgpt/{Id:long}"
@using Newtonsoft.Json;
@inject IJSRuntime? js
@inject HttpClient Http
@inject ChatGpt chat
@inject IConfiguration configuration

<BackPage></BackPage>

        
        <h3>Resposta com ChatGpt</h3>
        <h3>Pergunta:</h3>
        @if(exampleModel != null )
        {
        <h3>@exampleModel.Questao</h3>

            <h5>resposta:</h5>
            @if(resp != "")
            {
                 <p>
                    @resp
                </p>
        
            }
    
        }




@code {
    [Parameter] public long Id { get; set; }

    private Pergunta exampleModel = null;
    private string resp = "";

    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    protected override async Task OnParametersSetAsync()
    {
        Context = db.CreateDbContext(null);
        exampleModel = await Context.Pergunta!.FirstAsync(p => p.Id == Id);
        var resposta = await chat.buscar(configuration, exampleModel.Questao!);
        if(resposta.choices != null)
        resp = resposta.choices[0].text;
    }




}
