@page "/sobre"
<h3>Sobre</h3>

<p>Instagleo é um site que tem como objetivo facilitar o compartilhamento de paginas.</p>
<p>Baseado no sistema biblico  o usuário pode acessar e compartilhar qualquer pagina(versiculo)
   em um unico processo apenas utilizando dois numeros(nº do capitulo[Stories] e nº do versiculo[paginas]).</p>
   <p>
       Para facilitar e tornar efetivo o compartilhamento de paginas foi criado tambem o nº da pasta (filtro).
       aonde o usuário pode compartilhar mais conteudo.
   </p>
   <p>
       As lives e aplicativos que utilizam audio são um dos pontos estratégicos que o usuário pode utilizar com essa
       ferramenta.
   </p>
<p>
    Por fim, quanto mais usuários mais compartilhamento de paginas haverá no sistema. Lenbrando que o usuario é o proprio
    dominio -->> www.<u>instagleo</u>.net.br.
</p>

<p><a href="/criterios" >Critérios para compartilhantes</a></p>

<img src="/story.jpg" width="450" />


