* {
    padding: 0;
    margin: 0;
}

.circuloNewStory {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    background: #dc12e3;
    background: linear-gradient(225deg, rgba(220, 18, 227, 1) 50%, rgba(240, 130, 12, 1) 70%, rgba(240, 217, 10, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo3 {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo4 
{
    width: 158px;
    height: 158px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.circulo5 {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.circulo 
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}

.circulo2 
{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.stories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    align-items: flex-end;
    width: 80%;
    height: auto;
    justify-content: space-evenly;
   
    margin-top: 10px;
    margin-bottom: 20px;
}

.self{
    align-self: flex-start;
}

.user
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.dados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#carouselIndicators{
    width: 100%;
    height: 150px;
}

.carousel-item {
    display: none;
}

.ativo {
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center; /* Alinha verticalmente */
    gap: 10px; /* Espaçamento entre os itens */
}

.story
{
    width: 20%;
}

.desc{
    height:40px;
    font-size: 12px;
}

.prev {
    height: 80%;
    width: 4%;
    top: 50%;
    background-color: black;
}

.prox {
    height: 80%;
    width: 4%;
    top: 50%;
    background-color: black;
}

.botoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.listas {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ImgUser {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ImgStory {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media (max-width: 1550px) and (min-width: 550px) {
    .carousel-control-prev {
        height: 5%;
        width: 5%;
        left: 20%;
        top: 50%;
        background-color: black;
        position: fixed;
    }
 
}

.pensar
{
    position: relative;
    z-index: 10;
    height: 80px;
    background-image: url('/pensar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    
}

.pensar2
{
    position: relative;
    z-index: 20;
    text-align: right;
    top: 20px;
    font-size: 10px;
}

.teste2 
{
    position: relative;
    z-index:1;
    bottom: 30px;
}

@media (max-width: 550px) and (min-width: 50px) {
    .container {
        height: 400px;
    }

    .prev {
        height: 80%;
        width: 30%;
        top: 50%;
        background-color: black;
    }

    .prox {
        height: 80%;
        width: 30%;
        top: 50%;
        background-color: black;
    }
 
}

