@page "/sumario"
@inject RepositoryPagina repositoryPagina
<PageTitle>Sumário</PageTitle>
<h3>Sumário</h3>

<div>

    <table>
        <tr>
            <th>Stories</th>
            <th></th>
            <th>Capitulos</th>
        </tr>
        @foreach (var item in stories!)
        {
            <tr>
                <td>Story @item.Nome</td>
                <td>.........................................................</td>
                <td>Capitulo @item.PaginaPadraoLink</td>
            </tr>
        }

    </table>

</div>

@code {
    List<Story> stories = new List<Story>();

    protected override async Task OnInitializedAsync()
    {
        stories = await repositoryPagina.Context.Story!.Where(str => str.Nome != "Padrao").ToListAsync();
    }
}
