@page "/instante/edit/{Id:long}"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<UserModel> userManager
@attribute [Authorize]

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Descrição:</label>
        <InputText id="descricao" @bind-Value="exampleModel.Descricao" />
        </p>
    <button type="submit">Alterar</button>
</EditForm>

@code {
    private Instante exampleModel = new();

    [Parameter]public long Id{ get; set; }
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    protected async override Task OnParametersSetAsync()
    {
        Context = db.CreateDbContext(null);
        var authState = await AuthenticationStateProvider
           .GetAuthenticationStateAsync();
        var user = authState.User;
       
    }

    private async void HandleSubmit()
    {
        Context.Update(exampleModel);
        await Context.SaveChangesAsync();
        navigation.NavigateTo("/crud/instante/1");
        // Process the form
    }
}

