@page "/livro/create"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Url:</label>
        <InputText id="url" @bind-Value="exampleModel.url" />
    </p>
    <p>
        <label>Url it's not a book:</label>
        <InputText id="url2" @bind-Value="exampleModel.UrlNoBook" />
    </p>
   

    <button type="submit">Adicionar</button>
</EditForm>

@code {
    private Livro exampleModel = new();
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    protected override void OnInitialized()
    {
        Context = db.CreateDbContext(null);
    }

    private async void HandleSubmit()
    {
        if (string.IsNullOrEmpty(exampleModel.UrlNoBook)) exampleModel.UrlNoBook = null;
        await Context.AddAsync(exampleModel);
        await Context.SaveChangesAsync();
        navigation.NavigateTo("crud/livro/1");
    }
}
