@page "/livro/create"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Url:</label>
        <InputText id="url" @bind-Value="exampleModel.url" />
    </p>
    <p>
        <label>Capitulo:</label>
        <InputNumber id="Capitulo" @bind-Value="exampleModel.Capitulo"></InputNumber>
    </p>
    <p>
        <label>Compartilhando</label>
        <InputCheckbox id="Compartilhando" @bind-Value="exampleModel.Compartilhando"></InputCheckbox>
    </p>
   

    <button type="submit">Adicionar</button>
</EditForm>

@code {
    private Livro exampleModel = new();

    private async void HandleSubmit()
    {
        await repositoryPagina!.Context.AddAsync(exampleModel);
        await repositoryPagina!.Context.SaveChangesAsync();
        navigation.NavigateTo("livro");
    }
}
