@page "/livro/edit/{Id:long}"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Url:</label>
        <InputText id="url" @bind-Value="exampleModel.url" />
    </p>

    <br />


    <button type="submit">Alterar</button>
</EditForm>

@code {
    private Livro exampleModel = new();

    [Parameter]public long Id{ get; set; }
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    protected async override Task OnParametersSetAsync()
    {
        Context = db.CreateDbContext(null);
        exampleModel = await Context.Livro!.FirstAsync(l => l.Id == Id);
    }

    private async void HandleSubmit()
    {

        Context.Update(exampleModel);
        await Context.SaveChangesAsync();
        navigation.NavigateTo("crud/livro/1");
        // Process the form
    }
}

