@page "/livro/edit/{Id:long}"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Url:</label>
        <InputText id="url" @bind-Value="exampleModel.url" />
    </p>
    <p>
        <label>Capitulo:</label>
        <InputNumber id="Capitulo" @bind-Value="exampleModel.Capitulo"></InputNumber>
    </p>
    <p>
        <label>Compartilhando</label>
        <InputCheckbox id="Compartilhando" @bind-Value="exampleModel.Compartilhando"></InputCheckbox>
    </p>

    <button type="submit">Alterar</button>
</EditForm>

@code {
    private Livro exampleModel = new();

    [Parameter]public long Id{ get; set; }

    protected async override Task OnParametersSetAsync()
    {
        exampleModel = await repositoryPagina!.Context.Livro!.FirstAsync(l => l.Id == Id);
    }

    private async void HandleSubmit()
    {
        repositoryPagina!.Context.Update(exampleModel);
        await repositoryPagina!.Context.SaveChangesAsync();
        navigation.NavigateTo("livro");
        // Process the form
    }
}

