@page "/crud/livro/{pagina:int}"
@inject NavigationManager navigation
@inherits IndexCamdaDezBase
@attribute [Authorize(Roles = "Admin")]

@if (livros == null)
{
<p><em>Carregando...</em></p>
}
else if (livros.Length == 0)
{
<p><em>Não existem livros cadastrados...</em></p>    
}
else
{
    <div>
        <a class="btn btn-success" href="livro/create">Novo livro</a>
    </div>
    <div>
        <a class="btn btn-dark" href="definir-livro">Definir livro compartilhado</a>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>Livros</th>
            <th>Capitulo</th>
                <th>Compartilhando</th>
            <th>Edita</th>
            <th>Deleta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var livro in livros)
        {
            <tr>
                <td>@livro.url</td>
                <td>@livro.Capitulo</td>
                <td><input type="checkbox" checked="@livro.Compartilhando" /></td>
                <td><a class="btn btn-primary" href="livro/edit/@livro.Id">Editar</a> </td>
                <td><a class="btn btn-danger" @onclick="(()=> DeletarLivro(livro.Id))">Deletar</a> </td>
               
            </tr>
        }
    </tbody>
</table>

}
<div>
    <label>Lista:</label>
    <input type="number" onchange="@acessarPagina" min="1" />
    <a class="btn btn-success" href="livro/create">Novo livro</a>
</div>

@code {

    protected Livro[] camadas { get; set; }
    [Parameter] public int pagina { get; set; } = 1;

    protected override async Task OnParametersSetAsync()
    {
        await CarregaCamadas(pagina);
    }

    protected override async Task OnInitializedAsync()
    {
        await CarregaCamadas(pagina);
    }

    async Task CarregaCamadas(int pag)
    {
        camadas = await repositoryPagina!.Context.Livro!
        .OrderBy(p => p.Id)
               .Skip((pag - 1) * 10)
               .Take(10)
        .ToArrayAsync();
    }

    private void acessarPagina(ChangeEventArgs e)
    {
        if (!string.IsNullOrEmpty(e.Value!.ToString()) && e.Value!.ToString() != "0")
            navigation.NavigateTo($"/crud/livro/{e.Value!.ToString()}");
        else
            navigation.NavigateTo($"/crud/livro/1");
    }

}
