@page "/crud/livro"
@inherits IndexCamdaDezBase
@attribute [Authorize(Roles = "Admin")]

@if (livros == null)
{
<p><em>Carregando...</em></p>
}
else if (livros.Length == 0)
{
<p><em>Não existem livros cadastrados...</em></p>
    <div>
        <a class="btn btn-success" href="livro/create">Novo livro</a>
    </div>
    
}
else
{
    <div>
        <a class="btn btn-success" href="livro/create">Novo livro</a>
    </div>
    <div>
        <a class="btn btn-dark" href="definir-livro">Definir livro compartilhado</a>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>Livros</th>
            <th>Capitulo</th>
                <th>Compartilhando</th>
            <th>Edita</th>
            <th>Deleta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var livro in livros)
        {
            <tr>
                <td>@livro.url</td>
                <td>@livro.Capitulo</td>
                <td><input type="checkbox" checked="@livro.Compartilhando" /></td>
                <td><a class="btn btn-primary" href="livro/edit/@livro.Id">Editar</a> </td>
                <td><a class="btn btn-danger" @onclick="(()=> DeletarLivro(livro.Id))">Deletar</a> </td>
               
            </tr>
        }
    </tbody>
</table>

}

@code {

    

}
