@page "/crud/subgrupo/{pagina:int}"
@inject RepositoryPagina repositoryPagina
@inject NavigationManager navigation
@attribute [Authorize(Roles = "Admin")]

@if (camadas == null)
{
<p><em>Carregando...</em></p>
}
else if (camadas.Length == 0)
{
<p><em>Não existem camadas cadastradas...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var camada in camadas)
        {
            <tr>
                <td>@camada.Nome</td>
                <td><a class="btn btn-primary" href="subgrupo/edit/@camada.Id">Editar</a> </td>
            </tr>
        }
    </tbody>
</table>

}
<div>
    <label>Lista:</label>
    <input type="number" onchange="@acessarPagina" min="1" />
    <a class="btn btn-success" href="subgrupo/create">Nova Camada</a>
</div>

@code {

    protected SubGrupo[] camadas { get; set; }
    [Parameter] public int pagina { get; set; } = 1;
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    protected override async Task OnParametersSetAsync()
    {
        await CarregaCamadas(pagina);
    }

    protected override async Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);
        await CarregaCamadas(pagina);
    }

    async Task CarregaCamadas(int pag)
    {
        camadas = await Context.SubGrupo!
        .OrderBy(p => p.Id)
               .Skip((pag - 1) * 10)
               .Take(10)
        .ToArrayAsync();
    }

    private void acessarPagina(ChangeEventArgs e)
    {
        if (!string.IsNullOrEmpty(e.Value!.ToString()) && e.Value!.ToString() != "0")
            navigation.NavigateTo($"/crud/subgrupo/{e.Value!.ToString()}");
        else
            navigation.NavigateTo($"/crud/subgrupo/1");
    }

}
