@page "/crud/pagina/{pagina:int}"
@inject RepositoryPagina repositoryPagina
@inject NavigationManager navigation
@attribute [Authorize(Roles = "Admin")]

@if (camadas == null)
{
<p><em>Carregando...</em></p>
}
else if (camadas.Length == 0)
{
<p><em>Não existem paginas cadastradas...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Edita</th>
            <th>Deleta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var camada in camadas)
        {
            <tr>
                <td>@camada.Titulo</td>
                <td><a class="btn btn-primary" href="pagina/edit/@camada.Id">Editar</a> </td>
                <td><a class="btn btn-danger" @onclick="(()=> DeletarCamada(camada.Id))">Deletar</a> </td>
               
            </tr>
        }
    </tbody>
</table>
}
<div>
    <label>Lista:</label>
    <input type="number" onchange="@acessarPagina" min="1" />
    <a class="btn btn-success" href="pagina/create">Nova pagina</a>
</div>

@code {

    protected Pagina[] camadas { get; set; }
    [Parameter] public int pagina { get; set; } = 1;
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    protected override async Task OnParametersSetAsync()
    {
        await CarregaCamadas(pagina);
    }

    protected override async Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);
        await CarregaCamadas(pagina);
    }

    async Task CarregaCamadas(int pag)
    {
        camadas = await Context.Pagina!
        .OrderBy(p => p.Id)
               .Skip((pag - 1) * 10)
               .Take(10)
        .ToArrayAsync();
    }

    protected async void DeletarCamada(long Id)
    {
        var pagina = await Context.Pagina!.Include(s => s.Story).FirstAsync(l => l.Id == Id);
        var list = Context.Pagina!
                .Where(p => p.Story!.PaginaPadraoLink == pagina.Story!.PaginaPadraoLink).OrderBy(f => f.Id).ToList();
        var pag = list.First(l => l.Id == pagina.Id);
        var vers = list.IndexOf(pag) + 1;
        var preferencias = Context.UserPreferences.Where(p => 
            p.capitulo == pagina.Story!.PaginaPadraoLink && p.p1 == vers ||
            p.capitulo == pagina.Story!.PaginaPadraoLink && p.p2 == vers ||
            p.capitulo == pagina.Story!.PaginaPadraoLink && p.p3 == vers ||
            p.capitulo == pagina.Story!.PaginaPadraoLink && p.p4 == vers ||
            p.capitulo == pagina.Story!.PaginaPadraoLink && p.p5 == vers ||
            p.capitulo == pagina.Story!.PaginaPadraoLink && p.p6 == vers ||
            p.capitulo == pagina.Story!.PaginaPadraoLink && p.p7 == vers ||
            p.capitulo == pagina.Story!.PaginaPadraoLink && p.p8 == vers ||
            p.capitulo == pagina.Story!.PaginaPadraoLink && p.p9 == vers ||
            p.capitulo == pagina.Story!.PaginaPadraoLink && p.p10 == vers 
        ).ToList();
        foreach (var item in preferencias)
        {
            var p = repositoryPagina.preferencias!.FirstOrDefault(pr => pr.Id == item.Id);
            if(p != null && p.p1 == vers)
            p.p1 = 0;
            if (p != null && p.p2 == vers)
            p.p2 = 0;
            if (p != null && p.p3 == vers)
            p.p3 = 0;
            if (p != null && p.p4 == vers)
            p.p4 = 0;
            if (p != null && p.p5 == vers)
            p.p5 = 0;
            if (p != null && p.p6 == vers)
            p.p6 = 0;
            if (p != null && p.p7 == vers)
            p.p7 = 0;
            if (p != null && p.p8 == vers)
            p.p8 = 0;
            if (p != null && p.p9 == vers)
            p.p9 = 0;
            if (p != null && p.p10 == vers)
            p.p10 = 0;
            if(item.p1 == vers)
            item.p1 = 0;
            if(item.p2 == vers)
            item.p2 = 0;
            if(item.p3 == vers)
            item.p3 = 0;
            if(item.p4 == vers)
            item.p4 = 0;
            if(item.p5 == vers)
            item.p5 = 0;
            if(item.p6 == vers)
            item.p6 = 0;
            if(item.p7 == vers)
            item.p7 = 0;
            if(item.p8 == vers)
            item.p8 = 0;
            if(item.p9 == vers)
            item.p9 = 0;
            if(item.p10 == vers)
            item.p10 = 0;
            Context.Update(item);
        }
        Context.SaveChanges();
        var filtros = await Context.FiltroPagina.Where(fp => fp.PaginaId == pagina.Id).ToListAsync();
        foreach(var item in filtros)
            Context.Remove(item);
        await Context.SaveChangesAsync();
        pagina.ContentUser = null;
        pagina.Content = null;
        pagina.Data = DateTime.Now;
        Context.Update(pagina);
        await Context.SaveChangesAsync();
        await CarregaCamadas(1);
    }

    private void acessarPagina(ChangeEventArgs e)
    {
        if (!string.IsNullOrEmpty(e.Value!.ToString()) && e.Value!.ToString() != "0")
            navigation.NavigateTo($"/crud/pagina/{e.Value!.ToString()}");
        else
            navigation.NavigateTo($"/crud/pagina/1");
    }

}
