@page "/crud/pagina/{pagina:int}"
@inject RepositoryPagina repositoryPagina
@inject NavigationManager navigation
@attribute [Authorize(Roles = "Admin")]

@if (camadas == null)
{
<p><em>Carregando...</em></p>
}
else if (camadas.Length == 0)
{
<p><em>Não existem paginas cadastradas...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Capitulo</th>
            <th>Versiculo</th>
            <th>Edita</th>
            <th>Deleta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var camada in camadas)
        {
            <tr>
                <td>@camada.Titulo</td>
                <td>@camada.Story!.Capitulo</td>
                <td>@camada.Versiculo</td>
                <td><a class="btn btn-primary" href="pagina/edit/@camada.Id">Editar</a> </td>
                <td><a class="btn btn-danger" @onclick="(()=> DeletarCamada(camada.Id))">Deletar</a> </td>
               
            </tr>
        }
    </tbody>
</table>
}
<div>
    <label>Lista:</label>
    <input type="number" onchange="@acessarPagina" min="1" />
    <a class="btn btn-success" href="pagina/create">Nova pagina</a>
</div>

@code {

    protected Pagina[] camadas { get; set; }
    [Parameter] public int pagina { get; set; } = 1;
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    protected override async Task OnParametersSetAsync()
    {
        await CarregaCamadas(pagina);
    }

    protected override async Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);
        await CarregaCamadas(pagina);
    }

    async Task CarregaCamadas(int pag)
    {
        camadas = await Context.Pagina!.Include(p => p.Story)
        .OrderBy(p => p.Id)
               .Skip((pag - 1) * 10)
               .Take(10)
        .ToArrayAsync();
    }

    protected async void DeletarCamada(long Id)
    {
        var pagina = await Context.Pagina!.Include(s => s.Story).FirstAsync(l => l.Id == Id);
        var list = Context.Pagina!
                .Where(p => p.Story!.Capitulo == pagina.Story!.Capitulo).OrderBy(f => f.Id).ToList();
        var pag = list.First(l => l.Id == pagina.Id);
        var vers = list.IndexOf(pag) + 1;
        
        var filtros = await Context.FiltroContent.Where(fp => fp.ContentId == pagina.Id).ToListAsync();
        foreach(var item in filtros)
            Context.Remove(item);
        await Context.SaveChangesAsync();
        pagina.Html = null;
        pagina.Data = DateTime.Now;
        Context.Update(pagina);
        await Context.SaveChangesAsync();
        await CarregaCamadas(1);
    }

    private void acessarPagina(ChangeEventArgs e)
    {
        if (!string.IsNullOrEmpty(e.Value!.ToString()) && e.Value!.ToString() != "0")
            navigation.NavigateTo($"/crud/pagina/{e.Value!.ToString()}");
        else
            navigation.NavigateTo($"/crud/pagina/1");
    }

}
