@page "/story/create"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Nome:</label>
        <InputText id="Nome" @bind-Value="exampleModel.Nome" />
    </p>

    <button type="submit">Adicionar</button>
</EditForm>

@code {
    private Story exampleModel = new();

    private async void HandleSubmit()
    {
        var list = await repositoryPagina!.Context.Story!.Where(p => p.Nome == "Padrao").ToListAsync();
        exampleModel.PaginaPadraoLink = list.Count + 1;
        await repositoryPagina!.Context.AddAsync(exampleModel);
        await repositoryPagina!.Context.SaveChangesAsync();
        navigation.NavigateTo("story");
    }
}
