@page "/story/edit/{Id:long}"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@inject IWebHostEnvironment Environment
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Nome:</label>
        <InputText id="Nome" @bind-Value="exampleModel.Nome" />
    </p>
    <p>
        <label>Imagem (512 x 512):</label>
        <InputFile OnChange="@LoadFiles"  />
    </p>

    <button type="submit">Alterar</button>
</EditForm>

@code {
    private Story exampleModel = new();   
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;
    private long maxFileSize = 1024 * 800;
    private IBrowserFile file = null;

    [Parameter]public long Id{ get; set; }

    protected async override Task OnParametersSetAsync()
    {
        Context = db.CreateDbContext(null);
        exampleModel = await Context.Story!.FirstAsync(l => l.Id == Id);
    }

    private async void HandleSubmit()
    {
        if (file != null)
            exampleModel.Image = file.Name;
        Context.Update(exampleModel);
        await Context.SaveChangesAsync();
        if (file != null)
        {
            var path = Path.Combine(Environment.ContentRootPath, "wwwroot", "ImgStory", "cap." + exampleModel.PaginaPadraoLink + "." + file.Name);
            await using FileStream fs = new(path, FileMode.Create);
            await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
        }
        navigation.NavigateTo("/crud/story/1");
        // Process the form
    }

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        file = e.File;

    }
}

