@page "/story/edit/{Id:long}"
@inject NavigationManager navigation

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Nome:</label>
        <InputText id="Nome" @bind-Value="exampleModel.Nome" />
    </p>

    <button type="submit">Alterar</button>
</EditForm>

@code {
    static string conexao = "Data Source=DESKTOP-7TI5J9C\\SQLEXPRESS;Initial Catalog=BlazorCms;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False";
    ApplicationDbContext context = new ApplicationDbContext(conexao);
    private Story exampleModel = new();    

    [Parameter]public long Id{ get; set; }

    protected async override Task OnParametersSetAsync()
    {
        exampleModel = await context.Story!.FirstAsync(l => l.Id == Id);
    }

    private async void HandleSubmit()
    {
        context.Update(exampleModel);
        await context.SaveChangesAsync();
        navigation.NavigateTo("story");
        // Process the form
    }
}

