@page "/story/edit/{Id:long}"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Nome:</label>
        <InputText id="Nome" @bind-Value="exampleModel.Nome" />
    </p>

    <button type="submit">Alterar</button>
</EditForm>

@code {
    private Story exampleModel = new();    

    [Parameter]public long Id{ get; set; }

    protected async override Task OnParametersSetAsync()
    {
        exampleModel = await repositoryPagina!.Context.Story!.FirstAsync(l => l.Id == Id);
    }

    private async void HandleSubmit()
    {
        repositoryPagina!.Context.Update(exampleModel);
        await repositoryPagina!.Context.SaveChangesAsync();
        navigation.NavigateTo("story");
        // Process the form
    }
}

