/* _content/BlazorServerCms/Pages/ListaFiltro.razor.rz.scp.css */
*[b-622vkbnu9r] {
    padding: 0;
    margin: 0;
}

body[b-622vkbnu9r] {
    border: solid 4px coral;
    min-height: 950px;
    height: auto;
}

img[b-622vkbnu9r] {
    width: 100%;
}

.container[b-622vkbnu9r] {
    display: flex;
}

#cabecalho[b-622vkbnu9r] {
    display: none;
    justify-content: space-around;
    border: 3px solid chocolate;
}

#configuracao[b-622vkbnu9r] {
    display: flex;
    justify-content: space-around;
    border: 3px solid chocolate;
}

    #configuracao p[b-622vkbnu9r] {
        border: 3px solid black;
    }

#livro[b-622vkbnu9r] {
    background-color: chocolate;
    font-size: large;
}

#automatico a[b-622vkbnu9r] {
    background-color: rgb(255, 255, 255);
    color: chocolate;
    font-size: large;
    text-decoration: none;
}

#lista a[b-622vkbnu9r] {
    background-color: rgb(255, 255, 255);
    color: chocolate;
    font-size: large;
    text-decoration: none;
}

#config a[b-622vkbnu9r] {
    background-color: rgb(255, 255, 255);
    color: chocolate;
    font-size: large;
    text-decoration: none;
}

.container[b-622vkbnu9r] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.produto[b-622vkbnu9r] {
    margin-left: 5px;
    margin-top: 4px;
    border: solid 4px coral;
}

.caps[b-622vkbnu9r] {
    background-color: rgb(232, 255, 127);
    font-size: 1.0em;
}

    .caps strong a[b-622vkbnu9r] {
        text-align: center;
        text-decoration: none;
        border: 3px solid rgb(255, 255, 255);
        color: rgb(164, 52, 11);
    }

.info[b-622vkbnu9r] {
    display: none;
    overflow: auto;
    max-height: 90px;
}

#proxima-lista[b-622vkbnu9r] {
    align-self: center;
    text-align: start;
    margin-right: 10px;
}

    #proxima-lista strong a[b-622vkbnu9r] {
        text-decoration: none;
        border: 2px solid;
        color: black;
    }

#ordenacao a[b-622vkbnu9r] {
    text-decoration: none;
    border: 2px solid;
    color: black;
}

.progressbar[b-622vkbnu9r] {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 2px rgb(130, 130, 130);
}

    .progressbar div[b-622vkbnu9r] {
        height: 100%;
        border-radius: 5px;
        background-color: red;
        width: 1%;
    }

@media (max-width: 500px) and (min-width: 50px) {

    .produto[b-622vkbnu9r] {
        width: 160px;
        margin-left: 3px;
        margin-top: 2px;
    }
}

*[b-622vkbnu9r] {
    padding: 0;
    margin: 0;
}

body[b-622vkbnu9r] {
    border: solid 4px coral;
    min-height: 950px;
    height: auto;
}

img[b-622vkbnu9r] {
    width: 100%;
}

.container[b-622vkbnu9r] {
    display: flex;
}

#cabecalho[b-622vkbnu9r] {
    display: none;
    justify-content: space-around;
    border: 3px solid chocolate;
}

#configuracao[b-622vkbnu9r] {
    display: flex;
    justify-content: space-around;
    border: 3px solid chocolate;
}

    #configuracao p[b-622vkbnu9r] {
        border: 3px solid black;
    }

#livro[b-622vkbnu9r] {
    background-color: chocolate;
    font-size: large;
}

#automatico a[b-622vkbnu9r] {
    background-color: rgb(255, 255, 255);
    color: chocolate;
    font-size: large;
    text-decoration: none;
}

#lista a[b-622vkbnu9r] {
    background-color: rgb(255, 255, 255);
    color: chocolate;
    font-size: large;
    text-decoration: none;
}

#config a[b-622vkbnu9r] {
    background-color: rgb(255, 255, 255);
    color: chocolate;
    font-size: large;
    text-decoration: none;
}

.container[b-622vkbnu9r] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.produto[b-622vkbnu9r] {
    margin-left: 5px;
    margin-top: 4px;
    border: solid 4px coral;
}

.caps[b-622vkbnu9r] {
    background-color: rgb(232, 255, 127);
    font-size: 1.0em;
}

    .caps strong a[b-622vkbnu9r] {
        text-align: center;
        text-decoration: none;
        border: 3px solid rgb(255, 255, 255);
        color: rgb(164, 52, 11);
    }

.info[b-622vkbnu9r] {
    display: none;
    overflow: auto;
    max-height: 90px;
}

#proxima-lista[b-622vkbnu9r] {
    align-self: center;
    text-align: start;
    margin-right: 10px;
}

    #proxima-lista strong a[b-622vkbnu9r] {
        text-decoration: none;
        border: 2px solid;
        color: black;
    }

#ordenacao a[b-622vkbnu9r] {
    text-decoration: none;
    border: 2px solid;
    color: black;
}


@media (max-width: 500px) and (min-width: 50px) {
    .produto[b-622vkbnu9r] {
        width: 160px;
        margin-left: 3px;
        margin-top: 2px;
    }
}
/* _content/BlazorServerCms/Pages/Paginacao.razor.rz.scp.css */
*[b-brm1o9lvas] {
    padding: 0;
    margin: 0;
}

body[b-brm1o9lvas] {
    border: solid 4px coral;
    min-height: 950px;
    height: auto;
}

img[b-brm1o9lvas] {
    width: 100%;
}

.container[b-brm1o9lvas] {
    display: flex;
}

#cabecalho[b-brm1o9lvas] {
    display: none;
    justify-content: space-around;
    border: 3px solid chocolate;
}

#configuracao[b-brm1o9lvas] {
    display: flex;
    justify-content: space-around;
    border: 3px solid chocolate;
}

    #configuracao p[b-brm1o9lvas] {
        border: 3px solid black;
    }

#livro[b-brm1o9lvas] {
    background-color: chocolate;
    font-size: large;
}

#automatico a[b-brm1o9lvas] {
    background-color: rgb(255, 255, 255);
    color: chocolate;
    font-size: large;
    text-decoration: none;
}

#lista a[b-brm1o9lvas] {
    background-color: rgb(255, 255, 255);
    color: chocolate;
    font-size: large;
    text-decoration: none;
}

#config a[b-brm1o9lvas] {
    background-color: rgb(255, 255, 255);
    color: chocolate;
    font-size: large;
    text-decoration: none;
}

.container[b-brm1o9lvas] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.produto[b-brm1o9lvas] {
    margin-left: 5px;
    margin-top: 4px;
    border: solid 4px coral;
}

.caps[b-brm1o9lvas] {
    background-color: rgb(232, 255, 127);
    font-size: 1.0em;
}

    .caps strong a[b-brm1o9lvas] {
        text-align: center;
        text-decoration: none;
        border: 3px solid rgb(255, 255, 255);
        color: rgb(164, 52, 11);
    }

.info[b-brm1o9lvas] {
    display: none;
    overflow: auto;
    max-height: 90px;
}

#proxima-lista[b-brm1o9lvas] {
    align-self: center;
    text-align: start;
    margin-right: 10px;
}

    #proxima-lista strong a[b-brm1o9lvas] {
        text-decoration: none;
        border: 2px solid;
        color: black;
    }

#ordenacao a[b-brm1o9lvas] {
    text-decoration: none;
    border: 2px solid;
    color: black;
}

.progressbar[b-brm1o9lvas] {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 2px rgb(130, 130, 130);
}

    .progressbar div[b-brm1o9lvas] {
        height: 100%;
        border-radius: 5px;
        background-color: red;
        width: 1%;
    }

@media (max-width: 500px) and (min-width: 50px) {

    .produto[b-brm1o9lvas] {
        width: 160px;
        margin-left: 3px;
        margin-top: 2px;
    }
}
*[b-brm1o9lvas] {
    padding: 0;
    margin: 0;
}

body[b-brm1o9lvas] {
    border: solid 4px coral;
    min-height: 950px;
    height: auto;
}

img[b-brm1o9lvas] {
    width: 100%;
}

.container[b-brm1o9lvas] {
    display: flex;
}

#cabecalho[b-brm1o9lvas] {
    display: none;
    justify-content: space-around;
    border: 3px solid chocolate;
}

#configuracao[b-brm1o9lvas] {
    display: flex;
    justify-content: space-around;
    border: 3px solid chocolate;
}

    #configuracao p[b-brm1o9lvas] {
        border: 3px solid black;
    }

#livro[b-brm1o9lvas] {
    background-color: chocolate;
    font-size: large;
}

#automatico a[b-brm1o9lvas] {
    background-color: rgb(255, 255, 255);
    color: chocolate;
    font-size: large;
    text-decoration: none;
}

#lista a[b-brm1o9lvas] {
    background-color: rgb(255, 255, 255);
    color: chocolate;
    font-size: large;
    text-decoration: none;
}

#config a[b-brm1o9lvas] {
    background-color: rgb(255, 255, 255);
    color: chocolate;
    font-size: large;
    text-decoration: none;
}

.container[b-brm1o9lvas] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.produto[b-brm1o9lvas] {
    margin-left: 5px;
    margin-top: 4px;
    border: solid 4px coral;
}

.caps[b-brm1o9lvas] {
    background-color: rgb(232, 255, 127);
    font-size: 1.0em;
}

    .caps strong a[b-brm1o9lvas] {
        text-align: center;
        text-decoration: none;
        border: 3px solid rgb(255, 255, 255);
        color: rgb(164, 52, 11);
    }

.info[b-brm1o9lvas] {
    display: none;
    overflow: auto;
    max-height: 90px;
}

#proxima-lista[b-brm1o9lvas] {
    align-self: center;
    text-align: start;
    margin-right: 10px;
}

    #proxima-lista strong a[b-brm1o9lvas] {
        text-decoration: none;
        border: 2px solid;
        color: black;
    }

#ordenacao a[b-brm1o9lvas] {
    text-decoration: none;
    border: 2px solid;
    color: black;
}

.progressbar[b-brm1o9lvas] {
    position: fixed;
    bottom: 1%;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 2px rgb(130, 130, 130);
}

    .progressbar div[b-brm1o9lvas] {
        height: 100%;
        border-radius: 5px;
        background-color: red;
        width: 1%;
    }



@media (max-width: 500px) and (min-width: 50px) {
    .produto[b-brm1o9lvas] {
        width: 160px;
        margin-left: 3px;
        margin-top: 2px;
    }
}
/* _content/BlazorServerCms/Pages/Renderizar.razor.rz.scp.css */
*[b-k8aihg5em2] {
    padding: 0;
    margin: 0;
}

.content[b-k8aihg5em2] {
    height: 700px;
    display : flex;
}



span[b-k8aihg5em2] {
    background-color: white;
}

h3[b-k8aihg5em2] {
    background-color: darkgray;
    opacity: 0.80;
}

p[b-k8aihg5em2] {
    background-color: rgb(227, 196, 101);
}


#comentario[b-k8aihg5em2] {
    display: none;
}

#NumeroPaginaAcesso2[b-k8aihg5em2] {
    width: 60px;
    font-size: large;
}

#inputime[b-k8aihg5em2] {
    width: 60px;
    font-size: large;
}

#inputenter[b-k8aihg5em2] {
    width: 10px;
}

.ImagemProduto[b-k8aihg5em2] {
    width: 100%;
}

.linksPagina[b-k8aihg5em2] {
    display: none;
}

.blocoLoader[b-k8aihg5em2] {
    width: 100%;
}

.capitulos[b-k8aihg5em2] {
    font-size: 12px;
    background-color: transparent;
}

.ImagemContent[b-k8aihg5em2] {
    height: 600px;
}



.indices[b-k8aihg5em2] {
    font-size: 1.2rem;
}

.barra[b-k8aihg5em2] {
    font-size: 2rem;
}




.Paginacao[b-k8aihg5em2] {
    position: fixed;
    bottom: 1%;
    width: 100%;
    height: 120px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0.90;
    justify-content: center;
}

Informativo[b-k8aihg5em2] {
    align-self: center;
    display: flex;
}



.DivPagina[b-k8aihg5em2] {
    height: 50px;
    opacity: 0.90;
    margin: 6px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
}

.DivPag[b-k8aihg5em2] {
    width: 35px;
    height: 30px;
    opacity: 0.90;
    margin: 6px;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    background-color:black;
}



.navbar[b-k8aihg5em2] {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.navegacao[b-k8aihg5em2] {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.progressbar[b-k8aihg5em2] {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 2px rgb(130, 130, 130);
}

    .progressbar div[b-k8aihg5em2] {
        height: 100%;
        border-radius: 5px;
        background-color: red;
        width: 1%;
    }


@media (max-width: 550px) and (min-width: 50px) {

    .blocoLoader2[b-k8aihg5em2] {
        display: block !important;
        z-index: 40 !important;
    }

    #Livro[b-k8aihg5em2] {
        font-size: 1.5rem !important;
    }

    #record[b-k8aihg5em2] {
        font-size: 1rem !important;
    }

    .barra[b-k8aihg5em2] {
        font-size: 1rem !important;
    }

   

    .indices[b-k8aihg5em2] {
        font-size: 0.8rem !important;
    }

    .DivPag[b-k8aihg5em2] {
        width: 16px !important;
        height: 8px !important;
        margin: 4px !important;
    }

    #voltar[b-k8aihg5em2] {
        display: none;
    }

    #avancar[b-k8aihg5em2] {
        display: none;
    }

    .content[b-k8aihg5em2] {
        width: 100% !important;
    }

    img[b-k8aihg5em2] {
        width: 100% !important;
    }

    

    #message[b-k8aihg5em2] {
        width: 20%;
    }

    #user img[b-k8aihg5em2] {
        display: none;
    }
}
/* _content/BlazorServerCms/Pages/Transmissao.razor.rz.scp.css */
/*
 *  Copyright (c) 2015 The WebRTC project authors. All Rights Reserved.
 *
 *  Use of this source code is governed by a BSD-style license
 *  that can be found in the LICENSE file in the root of the source
 *  tree.
 */
button[b-1u2lb4rjte] {
    margin: 0 3px 10px 0;
    padding-left: 2px;
    padding-right: 2px;
    width: 99px;
}

    button:last-of-type[b-1u2lb4rjte] {
        margin: 0;
    }

p.borderBelow[b-1u2lb4rjte] {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}

video[b-1u2lb4rjte] {
    vertical-align: top;
    --width: 25vw;
    width: var(--width);
    height: calc(var(--width) * 0.5625);
}

    video:last-of-type[b-1u2lb4rjte] {
        margin: 0 0 20px 0;
    }

    video#gumVideo[b-1u2lb4rjte] {
        margin: 0 20px 20px 0;
    }







/*
 *  Copyright (c) 2015 The WebRTC project authors. All Rights Reserved.
 *
 *  Use of this source code is governed by a BSD-style license
 *  that can be found in the LICENSE file in the root of the source
 *  tree.
 */
.hidden[b-1u2lb4rjte] {
    display: none;
}

.highlight[b-1u2lb4rjte] {
    background-color: #eee;
    font-size: 1.2em;
    margin: 0 0 30px 0;
    padding: 0.2em 1.5em;
}

.warning[b-1u2lb4rjte] {
    color: red;
    font-weight: 400;
}

@media screen and (min-width: 1000px) {
    /* hack! to detect non-touch devices */
    div#links a[b-1u2lb4rjte] {
        line-height: 0.8em;
    }
}

audio[b-1u2lb4rjte] {
    max-width: 100%;
}

body[b-1u2lb4rjte] {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 1em;
    word-break: break-word;
}

button[b-1u2lb4rjte] {
    background-color: #d84a38;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    margin: 0 0 1em 0;
    padding: 0.5em 0.7em 0.6em 0.7em;
}

    button:active[b-1u2lb4rjte] {
        background-color: #cf402f;
    }

    button:hover[b-1u2lb4rjte] {
        background-color: #cf402f;
    }

    button[disabled][b-1u2lb4rjte] {
        color: #ccc;
    }

        button[disabled]:hover[b-1u2lb4rjte] {
            background-color: #d84a38;
        }

canvas[b-1u2lb4rjte] {
    background-color: #ccc;
    max-width: 100%;
    width: 100%;
}

code[b-1u2lb4rjte] {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*div#container {
    margin: 0 auto 0 auto;
    max-width: 60em;
    padding: 1em 1.5em 1.3em 1.5em;
  }*/

div#links[b-1u2lb4rjte] {
    padding: 0.5em 0 0 0;
}

h1[b-1u2lb4rjte] {
    border-bottom: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0 0 0.8em 0;
    padding: 0 0 0.2em 0;
}

h2[b-1u2lb4rjte] {
    color: #444;
    font-weight: 500;
}

h3[b-1u2lb4rjte] {
    border-top: 1px solid #eee;
    color: #666;
    font-weight: 500;
    margin: 10px 0 10px 0;
    white-space: nowrap;
}

li[b-1u2lb4rjte] {
    margin: 0 0 0.4em 0;
}

html[b-1u2lb4rjte] {
    /* avoid annoying page width change
    when moving from the home page */
    overflow-y: scroll;
}

img[b-1u2lb4rjte] {
    border: none;
    max-width: 100%;
}

input[type=radio][b-1u2lb4rjte] {
    position: relative;
    top: -1px;
}

p[b-1u2lb4rjte] {
    color: #444;
    font-weight: 300;
}

    p#data[b-1u2lb4rjte] {
        border-top: 1px dotted #666;
        font-family: Courier New, monospace;
        line-height: 1.3em;
        max-height: 1000px;
        overflow-y: auto;
        padding: 1em 0 0 0;
    }

    p.borderBelow[b-1u2lb4rjte] {
        border-bottom: 1px solid #aaa;
        padding: 0 0 20px 0;
    }

section p:last-of-type[b-1u2lb4rjte] {
    margin: 0;
}

section[b-1u2lb4rjte] {
    border-bottom: 1px solid #eee;
    margin: 0 0 30px 0;
    padding: 0 0 20px 0;
}

    section:last-of-type[b-1u2lb4rjte] {
        border-bottom: none;
        padding: 0 0 1em 0;
    }

select[b-1u2lb4rjte] {
    margin: 0 1em 1em 0;
    position: relative;
    top: -1px;
}

h1 span[b-1u2lb4rjte] {
    white-space: nowrap;
}

a[b-1u2lb4rjte] {
    color: #1D6EEE;
    font-weight: 300;
    text-decoration: none;
}

h1 a[b-1u2lb4rjte] {
    font-weight: 300;
    margin: 0 10px 0 0;
    white-space: nowrap;
}

a:hover[b-1u2lb4rjte] {
    color: #3d85c6;
    text-decoration: underline;
}

a#viewSource[b-1u2lb4rjte] {
    display: block;
    margin: 1.3em 0 0 0;
    border-top: 1px solid #999;
    padding: 1em 0 0 0;
}

div#errorMsg p[b-1u2lb4rjte] {
    color: #F00;
}

div#links a[b-1u2lb4rjte] {
    display: block;
    line-height: 1.3em;
    margin: 0 0 1.5em 0;
}

div.outputSelector[b-1u2lb4rjte] {
    margin: -1.3em 0 2em 0;
}

p.description[b-1u2lb4rjte] {
    margin: 0 0 0.5em 0;
}

strong[b-1u2lb4rjte] {
    font-weight: 500;
}

textarea[b-1u2lb4rjte] {
    resize: none;
    font-family: 'Roboto', sans-serif;
}

video[b-1u2lb4rjte] {
    background: #222;
    margin: 0 0 20px 0;
    --width: 100%;
    width: var(--width);
    height: calc(var(--width) * 0.75);
}

ul[b-1u2lb4rjte] {
    margin: 0 0 0.5em 0;
}

@media screen and (max-width: 650px) {
    .highlight[b-1u2lb4rjte] {
        font-size: 1em;
        margin: 0 0 20px 0;
        padding: 0.2em 1em;
    }

    h1[b-1u2lb4rjte] {
        font-size: 24px;
    }
}

@media screen and (max-width: 550px) {
    button:active[b-1u2lb4rjte] {
        background-color: darkRed;
    }

    h1[b-1u2lb4rjte] {
        font-size: 22px;
    }
}

@media screen and (max-width: 450px) {
    h1[b-1u2lb4rjte] {
        font-size: 20px;
    }
}
/* _content/BlazorServerCms/Shared/MainLayout.razor.rz.scp.css */
.page[b-ofu5x09pw2] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ofu5x09pw2] {
    flex: 1;
}

.sidebar[b-ofu5x09pw2] {
    background-image: linear-gradient(180deg, rgb(95, 56, 23) 0%, rgb(208, 146, 61) 80%);
    /*background-image: linear-gradient(180deg, rgb(235, 175, 9) 0%, rgb(95, 56, 23) 80%);*/
}

.top-row[b-ofu5x09pw2] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ofu5x09pw2]  a, .top-row .btn-link[b-ofu5x09pw2] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-ofu5x09pw2] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ofu5x09pw2] {
        display: none;
    }

    .top-row.auth[b-ofu5x09pw2] {
        justify-content: space-between;
    }

    .top-row a[b-ofu5x09pw2], .top-row .btn-link[b-ofu5x09pw2] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ofu5x09pw2] {
        flex-direction: row;
    }

    .sidebar[b-ofu5x09pw2] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ofu5x09pw2] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-ofu5x09pw2], article[b-ofu5x09pw2] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorServerCms/Shared/MeuLayout.razor.rz.scp.css */
*[b-mnex5vseq6] {
    padding: 0;
    margin: 0;
}

span[b-mnex5vseq6] {
    background-color: white;
}

h3[b-mnex5vseq6] {
    background-color: darkgray;
    opacity: 0.80;
}

p[b-mnex5vseq6] {
    background-color: rgb(227, 196, 101);
}


#comentario[b-mnex5vseq6] {
    display: none;
}

#NumeroPaginaAcesso2[b-mnex5vseq6] {
    width: 60px;
    font-size: large;
}

.ImagemProduto[b-mnex5vseq6] {
    width: 100%;
}

.linksPagina[b-mnex5vseq6] {
    display: none;
}

.blocoLoader[b-mnex5vseq6] {
    width: 100%;
}

.capitulos[b-mnex5vseq6] {
    font-size: 12px;
    background-color: white;
}

.ImagemContent[b-mnex5vseq6] {
    height: 600px;
}

.Paginacao[b-mnex5vseq6] {
    position: fixed;
    bottom: 1%;
    width: 100%;
}

.indices[b-mnex5vseq6] {
    font-size: 2rem;
}

.barra[b-mnex5vseq6] {
    font-size: 2rem;
}

.TextoInformativo[b-mnex5vseq6] {
    background-color: white;
    opacity: 0.80;
}

/* _content/BlazorServerCms/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-hzn4tv4b19] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-hzn4tv4b19] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-hzn4tv4b19] {
    font-size: 1.1rem;
}

.oi[b-hzn4tv4b19] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-hzn4tv4b19] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-hzn4tv4b19] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-hzn4tv4b19] {
        padding-bottom: 1rem;
    }

    .nav-item[b-hzn4tv4b19]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-hzn4tv4b19]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-hzn4tv4b19]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-hzn4tv4b19] {
        display: none;
    }

    .collapse[b-hzn4tv4b19] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
