@attribute [Authorize(Roles = "Admin")]
@inject IJSRuntime js
<h3>Display</h3>

<div id="container" class="row" style="margin:0;">
       
            <div class="col-md-3">
                <video id="recorded" playsinline loop></video>
            </div>

            <div class="col-md-12">
        <button id="start" >Start camera</button>
                <button id="record" disabled>Start Recording</button>
                <button id="play" disabled>Play</button>
                <button id="download" disabled>Download</button>
            </div>

            <div class="col-md-12">
                <h4>Media Stream Constraints options</h4>
                <p>Echo cancellation: <input type="checkbox" id="echoCancellation"></p>
            </div>

            <div>
                <span id="errorMsg"></span>
            </div>
    </div>


    @code{

    }