

/* No seu MainLayout.razor.css */

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante no mínimo a altura inteira da tela */
    width: 100%;
} 


main {
        position: fixed;
        left: 60px;
        width: 100% !important;
    }



@media (max-width: 640.98px) {
    .page {
        flex-direction: column !important;
        min-height: 100dvh; /* dvh lida perfeitamente com a barra de endereço dos navegadores mobile */
    }

    .sidebar {
        width: 100% !important;
        position: relative !important;
        z-index: 1000;
    }

    main {
        position: relative;
        left: 0;
        width: 100% !important;
    }
}