/* Sidebar Fixa e Recolhida (70px) */
.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70px; /* Largura inicial */
    
    /* Seu gradiente de fundo */
    background-image: linear-gradient(180deg, rgb(95, 56, 23) 0%, rgb(208, 146, 61) 80%);
    
    z-index: 1000;
    overflow: hidden;
    white-space: nowrap;
    
    /* Animação suave da largura */
    transition: width 0.3s cubic-bezier(0.2, 0, 0, 1);
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
}

/* Quando passa o mouse no container do menu, ele expande para 250px */
.sidebar-container:hover {
    width: 250px;
}

.search-item-content 
{
    margin-left: 20px;
}

.search-item-content svg
{
    color: #ffffff;
}


/* Oculta os textos quando encolhido */
.link-text {
    opacity: 0;
    transition: opacity 0.2s ease;
    white-space: nowrap;
    color: #ffffff;
    margin-left: 12px;
}

/* Exibe os textos quando expandido */
.sidebar-container:hover .link-text {
    opacity: 1;
}

/* Formatação dos links e ícones */
::deep .nav-link {
    display: flex !important;
    align-items: center !important;
    height: 48px;
    padding: 0 15px !important;
    color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 6px;
    margin: 4px 8px;
    transition: background-color 0.2s;
}

::deep .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: #ffffff !important;
}

::deep .icon {
    min-width: 20px;
    height: 20px;
}