*[b-c8k1zi8mwu] {
    padding: 0;
    margin: 0;
}

.indices[b-c8k1zi8mwu] {
    font-size: 0.6rem !important;
}

.indice[b-c8k1zi8mwu] {
    font-size: 0.8rem !important;
}

.DivPagina[b-c8k1zi8mwu] {
    height: 40px;
    opacity: 0.90;
    margin: 6px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
}