*[b-dxxtsk4tmq] {
    padding: 0;
    margin: 0;
}

.container[b-dxxtsk4tmq] {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: rgb(208, 146, 61);
}

 p[b-dxxtsk4tmq]{
    text-align: center;
    margin-left: 20px;
    font-size: large;
}