*[b-92jj3wda8j] {
    padding: 0;
    margin: 0;
}


.container[b-92jj3wda8j] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info1[b-92jj3wda8j]{
    font-size: 1.2rem;
}

.item2[b-92jj3wda8j] {
    color: black;
    border: solid 9px;
    margin: 10px;
}

.item1[b-92jj3wda8j] {
    color: red;
    border: solid 9px;
    margin: 10px;
}

.itemLegenda2[b-92jj3wda8j] {
    color: black;
}

.itemLegenda1[b-92jj3wda8j] {
    color: red;
}

.itemLegenda3[b-92jj3wda8j] {
    color: blue;
}

.legenda[b-92jj3wda8j] {
    border: solid 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.circulo[b-92jj3wda8j] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
}