

*[b-jje5gysd6g] {
    padding: 0;
    margin: 0;
}

.container[b-jje5gysd6g] {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
}

.linha[b-jje5gysd6g]{
    margin-right: 50px;
}

.filtragem1[b-jje5gysd6g]
{
    margin: 10px;
}

.filtragem2[b-jje5gysd6g] {
    margin: 10px;
}

.filtragem3[b-jje5gysd6g] {
    margin: 10px;
}

.filtragem4[b-jje5gysd6g] {
    margin: 10px;
}

.filtragem5[b-jje5gysd6g] {
    margin: 10px;
}


.filtragem6[b-jje5gysd6g] {
    margin: 10px;
}

.filtragem7[b-jje5gysd6g] {
    margin: 10px;
}

.filtragem8[b-jje5gysd6g] {
    margin: 10px;
}

.filtragem9[b-jje5gysd6g] {
    margin: 10px;
}

.filtragem10[b-jje5gysd6g] {
    margin: 10px;
}






.divs1[b-jje5gysd6g] {
    background-color: aliceblue;
}

.divs2[b-jje5gysd6g] {
    background-color: #808080;
}

.divs3[b-jje5gysd6g] {
    background-color: #222423;
}

.divs4[b-jje5gysd6g] {
    background-color: #ff0000;
}

.divs5[b-jje5gysd6g] {
    background-color: #0094ff;
}


.divs6[b-jje5gysd6g] {
    background-color: #0026ff;
}

.divs7[b-jje5gysd6g] {
    background-color: #0026ff;
}

.divs8[b-jje5gysd6g] {
    margin: 10px;
    background-color: #0026ff;
}

.divs9[b-jje5gysd6g] {
    margin: 10px;
    background-color: #0026ff;
}

.divs10[b-jje5gysd6g] {
    margin: 10px;
    background-color: #0026ff;
}