*[b-k8aihg5em2] {
    padding: 0;
    margin: 0;
}

.content[b-k8aihg5em2] {
    height: 700px;
    display : flex;
}



span[b-k8aihg5em2] {
    background-color: white;
}

h3[b-k8aihg5em2] {
    background-color: darkgray;
    opacity: 0.80;
}

p[b-k8aihg5em2] {
    background-color: rgb(227, 196, 101);
}



#comentario[b-k8aihg5em2] {
    display: none;
}

#NumeroPaginaAcesso2[b-k8aihg5em2] {
    width: 60px;
    font-size: large;
}

#inputime[b-k8aihg5em2] {
    width: 60px;
    font-size: large;
}

#inputenter[b-k8aihg5em2] {
    width: 10px;
}

.ImagemProduto[b-k8aihg5em2] {
    width: 100%;
}

.linksPagina[b-k8aihg5em2] {
    display: none;
}

.blocoLoader[b-k8aihg5em2] {
    width: 100%;
}

.capitulos[b-k8aihg5em2] {
    font-size: 12px;
    background-color: transparent;
}

.ImagemContent[b-k8aihg5em2] {
    height: 600px;
}



.indices[b-k8aihg5em2] {
    font-size: 1.2rem;
}

.barra[b-k8aihg5em2] {
    font-size: 2rem;
}




.Paginacao[b-k8aihg5em2] {
    position: fixed;
    bottom: 1%;
    width: 100%;
    height: 120px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0.90;
    justify-content: center;
}

Informativo[b-k8aihg5em2] {
    align-self: center;
    display: flex;
}



.DivPagina[b-k8aihg5em2] {
    height: 50px;
    opacity: 0.90;
    margin: 6px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
}

.DivPag[b-k8aihg5em2] {
    width: 35px;
    height: 30px;
    opacity: 0.90;
    margin: 6px;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    background-color:black;
}



.navbar[b-k8aihg5em2] {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.navegacao[b-k8aihg5em2] {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#pesquisas[b-k8aihg5em2] {
    display: flex;
    justify-content:start;
    width: 100%;
}

.progressbar[b-k8aihg5em2] {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 2px rgb(130, 130, 130);
}

    .progressbar div[b-k8aihg5em2] {
        height: 100%;
        border-radius: 5px;
        background-color: red;
        width: 1%;
    }


@media (max-width: 550px) and (min-width: 50px) {

    .blocoLoader2[b-k8aihg5em2] {
        display: flex !important;
        z-index: 40000 !important;
        flex-wrap: wrap;
        flex-direction: row;
        position:absolute;
        top: 50%;
    }

    .direita[b-k8aihg5em2]{
        margin-left: 300px;
    }

   

    #Livro[b-k8aihg5em2] {
        font-size: 1.5rem !important;
    }

    #record[b-k8aihg5em2] {
        font-size: 1rem !important;
    }

    .barra[b-k8aihg5em2] {
        font-size: 1rem !important;
    }

   

    .indices[b-k8aihg5em2] {
        font-size: 0.8rem !important;
    }

    .DivPag[b-k8aihg5em2] {
        width: 16px !important;
        height: 8px !important;
        margin: 4px !important;
    }

    #voltar[b-k8aihg5em2] {
        display: none;
    }

    #avancar[b-k8aihg5em2] {
        display: none;
    }

    .content[b-k8aihg5em2] {
        width: 100% !important;
    }

    img[b-k8aihg5em2] {
        width: 100% !important;
    }

    

    #message[b-k8aihg5em2] {
        width: 20%;
    }

    #user img[b-k8aihg5em2] {
        display: none;
    }
}