*[b-k8aihg5em2] {
    padding: 0;
    margin: 0;
}

.content[b-k8aihg5em2] {
    height: 700px;
    display : flex;
}

span[b-k8aihg5em2] {
    background-color: white;
}

h3[b-k8aihg5em2] {
    background-color: darkgray;
    opacity: 0.80;
}

p[b-k8aihg5em2] {
    background-color: rgb(227, 196, 101);
}

.paragrafo2[b-k8aihg5em2]{
    background-color:transparent;
}

.paragrafo3[b-k8aihg5em2]{
    background-color:red;
}


#ultimapasta[b-k8aihg5em2]{
    margin-left: 15px;
}


#comentario[b-k8aihg5em2] {
    display: none;
}

#NumeroPaginaAcesso2[b-k8aihg5em2] {
    width: 60px;
    font-size: large;
}

#NumeroPaginaAcesso3[b-k8aihg5em2] {
    width: 120px;
    font-size: large;
}

#inputime[b-k8aihg5em2] {
    width: 60px;
    font-size: large;
}

#inputenter[b-k8aihg5em2] {
    width: 10px;
}

.ImagemProduto[b-k8aihg5em2] {
    width: 100%;
}

.linksPagina[b-k8aihg5em2] {
    display: none;
}

.blocoLoader[b-k8aihg5em2] {
    width: 100%;
}

.capitulos[b-k8aihg5em2] {
    font-size: 17px;
    background-color: transparent;
}

.users[b-k8aihg5em2] {
    font-size: 12px;
    position: absolute;
    background-color: black;
    margin-left: 10%;
    margin-top: 5%;
    padding: 2%;
    height: 300px;
    overflow: auto;
    border-radius: 10%;
    background-color: rgb(208, 146, 61);
}

.ImagemContent[b-k8aihg5em2] {
    height: 600px;
}



.indices[b-k8aihg5em2] {
    font-size: 0.6rem !important;
    color: black;
}

.indice[b-k8aihg5em2] {
    font-size: 0.6rem !important;
    color: red;
}

.barra[b-k8aihg5em2] {
    height: 5px;
    background-color: black;
}




.Paginacao[b-k8aihg5em2] {
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0.90;
    justify-content: center;
}

Informativo[b-k8aihg5em2] {
    align-self: center;
    display: flex;
}

.marc[b-k8aihg5em2] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.DivPagina[b-k8aihg5em2] {
    height: 40px;
    opacity: 0.90;
    margin: 6px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
}

.DivPag[b-k8aihg5em2] {
    width: 35px;
    height: 20px;
    opacity: 0.90;
    margin: 6px;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    background-color:white;
}



.navbar[b-k8aihg5em2] {
    width: 100%;
    background-color: transparent;
}

.navegacao[b-k8aihg5em2] {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#pesquisas[b-k8aihg5em2] {
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin-bottom: 20px;
}

.progressbar[b-k8aihg5em2] {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 2px rgb(130, 130, 130);
}

    .progressbar div[b-k8aihg5em2] {
        height: 100%;
        border-radius: 5px;
        background-color: red;
        width: 1%;
    }

.carousel-control-prev[b-k8aihg5em2]{
    height: 50%;
    top: 30%;
    background-color: black;
    position:fixed;
    
}

.carousel-control-next[b-k8aihg5em2] {
    height: 50%;
    top: 30%;
    background-color: black;
    position: fixed;
}

.capSubstory[b-k8aihg5em2]{
    width: 90px;
}

.capHeader[b-k8aihg5em2] {
    flex-grow: 3;
}

.circulo[b-k8aihg5em2] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #FF1493;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circulo2[b-k8aihg5em2] {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.circulop2[b-k8aihg5em2] {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF1493;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circulo2p2[b-k8aihg5em2] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.ImgStory[b-k8aihg5em2] {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.ImgUser[b-k8aihg5em2] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.cabecalho[b-k8aihg5em2] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#horizontes[b-k8aihg5em2] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.item-horizonte[b-k8aihg5em2]{
    margin-left: 20px;
}

.share[b-k8aihg5em2] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.barra.vermelho[b-k8aihg5em2] {
    background-color: red;
}


@media (max-width: 550px) and (min-width: 50px) {

    .capitulos[b-k8aihg5em2] {
        font-size: 12px;
        background-color: transparent;
    }
    
    .carousel-control-next[b-k8aihg5em2]{
        width: 10%;
    }

    .carousel-control-prev[b-k8aihg5em2] {
        width: 10%;    
    }

    #Livro[b-k8aihg5em2] {
        font-size: 1.5rem !important;
    }

    #record[b-k8aihg5em2] {
        font-size: 1rem !important;
    }

   

   

    .indices[b-k8aihg5em2] {
        font-size: 0.9rem !important;
        color: black;
    }

    .indice[b-k8aihg5em2] {
        font-size: 0.9rem !important;
        color: red;
    }


    .DivPag[b-k8aihg5em2] {
        width: 16px !important;
        margin: 4px !important;
        padding: 0;
    }

    /* tres algarismos */
    .DivPagTam2[b-k8aihg5em2] {
        width: 21px !important;
        margin: 4px !important;
        padding: 0;
    }

    /* quatro algarismos */
    .DivPagTam3[b-k8aihg5em2] {
        width: 30px !important;
        margin: 4px !important;
        padding: 0;
    }

    /* cinco algarismos */
    .DivPagTam4[b-k8aihg5em2] {
        width: 43px !important;
        margin: 4px !important;
        padding: 0;
    }


    .content[b-k8aihg5em2] {
        width: 100% !important;
    }

    img[b-k8aihg5em2] {
        width: 100% !important;
    }

    

    #message[b-k8aihg5em2] {
        width: 20%;
    }

    #user img[b-k8aihg5em2] {
        display: none;
    }
}