@inject NavigationManager navigation

<div class="filter-group">
  
    <input type="text" class="form-control"  
           placeholder="Pesquisar..." 
        @bind="Value" 
       @bind:event="oninput"
           @onkeyup="OnInputChanged" />
</div>

@code {
    
    [Parameter] public string Value { get; set; }
    private string UltimoTermoEnviado { get; set; } = "";
    [Parameter] public EventCallback<string> OnSearch { get; set; }

        private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    protected override Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);
        return base.OnInitializedAsync();

    }


    private async void OnInputChanged(KeyboardEventArgs e)
    {
        if (e.Key == " " || e.Key == "Enter")
        {
            // 1. Limpeza: Remove espaços extras (ex: "Baleia     " vira "Baleia")
            var termoLimpo = Value.Trim();

            // 2. Bloqueio: Só envia se o termo atual for diferente do último enviado
            // E se não estiver vazio
            if (!string.IsNullOrWhiteSpace(termoLimpo) && termoLimpo != UltimoTermoEnviado)
            {
                UltimoTermoEnviado = termoLimpo;
                await OnSearch.InvokeAsync(termoLimpo);
            }
        }
    }


}