@inject NavigationManager navigation

<div class="filter-group">
  
    <input type="text" class="form-control"  value="@Value"
           placeholder="Usuario..." 
           @oninput="OnInputChanged" />
</div>

@code {
    
    [Parameter] public string Value { get; set; }
    [Parameter] public EventCallback<string> OnSearch { get; set; }

        private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    protected override Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);
        return base.OnInitializedAsync();

    }


    private async void OnInputChanged(ChangeEventArgs e)
    {
        OnSearch.InvokeAsync(e.Value?.ToString());        
    }


}