<div class="filter-group">
    <label>@Label</label>
    <select class="form-select" @onchange="OnValueChanged">
        <option value="">Selecione...</option>
        @foreach (var item in Opcoes)
        {
            <option value="@item.Value" selected="@(item.Value == Value)">
                @item.Text
            </option> 
        }
    </select>
</div>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public List<FilterOption> Opcoes { get; set; }
    [Parameter] public EventCallback<string> OnChanged { get; set; }

        [Parameter] public string Value { get; set; } 

        [Parameter] 
    public RenderFragment ChildContent { get; set; }

    private async Task OnValueChanged(ChangeEventArgs e)
    {
        await OnChanged.InvokeAsync(e.Value?.ToString());
    }

   
}