@page "/remove-permissao"
@attribute [Authorize(Roles = "Admin")]
@inject UserManager<UserModel> userManager
<h3>RemovePermissao</h3>

@foreach(var item in users)
{
    <p>
        @item.UserName - 
        <a onclick="@(() => remove(item))" >
            remover permissão de Gerenciador
        </a>
    </p>
}

@code {

    IList<UserModel> users = new List<UserModel>();

    protected override async Task OnInitializedAsync()
    {

        users = await userManager.GetUsersInRoleAsync("Manager");
    }

    private async void remove(UserModel user)
    {
        await userManager.RemoveFromRoleAsync(user, "Manager");
    }

}
