@page "/cadastro/{codigo:long}/{compartilhou}/{compartilhante}/{compartilhante2}/{compartilhante3}/{compartilhante4}/{compartilhante5}/{compartilhante6}"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigation
@attribute [Authorize]
<h3>Cadastro</h3>

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <input type="hidden" value="@exampleModel.Id" />
    <!-- <input type="hidden" value="@exampleModel.ClienteId" />-->

    <p>
        <label>First name:</label>
        <InputText id="first" @bind-Value="exampleModel.Cliente.FirstName" />
    </p>

    <p>
        <label>Last name:</label>
        <InputText id="last" @bind-Value="exampleModel.Cliente.LastName" />
    </p>

    <p>
        <label>Seu melhor Email:</label>
        <InputText id="last" @bind-Value="exampleModel.Cliente.UserName" />
    </p>

    <p>
        <label>CPF:</label>
        <InputText id="last" @bind-Value="exampleModel.Cliente.Cpf" />
    </p>

    <p>
        <label>Fone:</label>
        <InputText id="last" @bind-Value="exampleModel.Cliente.Telefone.Fone" />
    </p>

    <p>
        <label>CEP:</label>
        <InputText id="last" @bind-Value="exampleModel.Cliente.Endereco.Cep" />
    </p>

    <p>
        <label>Estado:</label>
        <InputText id="last" @bind-Value="exampleModel.Cliente.Endereco.Estado" />
    </p>

    <p>
        <label>Cidade:</label>
        <InputText id="last" @bind-Value="exampleModel.Cliente.Endereco.Cidade" />
    </p>

    <p>
        <label>Bairro:</label>
        <InputText id="last" @bind-Value="exampleModel.Cliente.Endereco.Bairro" />
    </p>

    <p>
        <label>Rua:</label>
        <InputText id="last" @bind-Value="exampleModel.Cliente.Endereco.Rua" />
    </p>

    <p>
        <label>Numero:</label>
        <InputNumber id="last" @bind-Value="exampleModel.Cliente.Endereco.Numero" />
    </p>

    <p>
        <label>Complemento:</label>
        <InputText id="last" @bind-Value="exampleModel.Cliente.Endereco.Complemento" />
    </p>

    <div class="form-group">
        <a href="/renderizar/@capitulo/@verso/1/11/1/@dominio/@compartilhante/@compartilhante2">
            Continuar comprando
        </a>
    </div>
    

    <button type="submit" class="btn btn-success loader">Finalizar compra</button>
</EditForm>



<div id="loading"><img src="~/arquivos_imagens/loader.gif" /></div>

@code
{

    [Parameter] public int? capitulo { get; set; }
    [Parameter] public int? verso { get; set; }
    [Parameter] public string? dominio { get; set; }
    [Parameter] public string? compartilhante { get; set; }
    [Parameter] public string? compartilhante2 { get; set; }
    [Parameter] public long? codigo { get; set; }

    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    private Pedido? exampleModel;

    private async void HandleSubmit()
    {
        var urlPedido = "http://localhost:53443/Home/RetornaPedido/" + exampleModel!.Id.ToString();
        Context.Entry(exampleModel.Cliente).State = EntityState.Modified;
        Context.Entry(exampleModel.Cliente.Endereco).State = EntityState.Modified;
        Context.Entry(exampleModel.Cliente.Telefone).State = EntityState.Modified;
        await Context.SaveChangesAsync();

        var authState = await AuthenticationStateProvider
            .GetAuthenticationStateAsync();
        var user = authState.User;

        //IdentityMessage msg = new IdentityMessage
        //    {
        //        Body = "<p style='color:blue; background-color:yellow;'>" +
        //                    $" N° Pedido - {exampleModel.Id.ToString()} <a href='{urlPedido}'> visualizar pedido <a/>." +
        //                $" Agradecemos pela sua preferência. <p/>" +
        //                "<p style='color:red; background-color:yellow;'> Volte sempre. Assinado Cida Modas sz sz sz sz <p/>" +
        //                "<img src='https://cdn.ecvol.com/s/loja.anatuori.com/produtos/ligia-vestido-festa-longo-evase-ombro-a-ombro-com-alcas-saia-plissada-madrinha-casamento-formatura-cor-marsala/m/0.jpg?v=1' />",
        //        Subject = "Pedido confirmado.",
        //        Destination = user.Identity!.Name
        //    };

            navigation.NavigateTo("/resumo");
    }

    protected override async Task OnParametersSetAsync()
    {
        Context = db.CreateDbContext(null);
        exampleModel = await Context.Pedido!
        .Include(p => p.Cliente)
        .ThenInclude(p => p.Endereco)
        .Include(p => p.Cliente)
        .ThenInclude(p => p.Telefone)
        .FirstOrDefaultAsync(p => p.Id == codigo);
    }

}
